[2015-07-23 09:29] miyconst opened #1 "Add caching to eliminate full html part reload"
There should be some caching to don't return new json object per each request.
The json object should remain the same and only data inside changes.

[2015-07-23 09:30] miyconst opened #2 "Store templates and pages in database"
Right now all html and data are hard coded inside `Program.cs`, it should be retrieved from database.

[2015-08-11 18:04] miyconst opened #3 "Use dom-bind-notifier instead of puppet-dom-bind"
The `dom-bind-notifier` https://github.com/Juicy/dom-bind-notifier should be used instead of hackish `puppet-dom-bind`.

[2015-08-11 18:07] miyconst commented on #3
@tomalec I have refactored (https://github.com/Juicy/dom-bind-notifier/commit/8d2caf8a769eef2285e9b0fe324c8e5904f5ec04) the `notifyTemplate` method to simplify debugging, hope you don't mind.

[2015-08-11 19:08] miyconst commented on #3
@tomalec I have pushed the necessary changes to test Website application with `dom-bind-notifier`.

You have to:

1. Run Website project.
2. Run Content project from the Website solution.
3. Go to http://localhost:8080/content/team/konstantin
4. Click the "Tomek Wytrębowicz" link, the `path` variable in the `notifyTemplate` will be `model.TemplateModel.Sections.1.Rows.1`, which is correct.
5. Clic

[2015-08-12 09:03] warpech commented on #3
@tomalec assigining to you to fix the remaining problem. Thanks!

[2015-10-09 14:00] warpech commented on #3
Already done

[2015-10-09 14:00] #3 closed

[2015-10-09 14:01] #1 closed

[2015-10-09 14:02] warpech opened #4 "Merge playground branch into master"

[2015-10-22 08:08] miyconst commented on #4
Removed all old branches and renamed `playground` to `master`.

[2015-10-22 08:08] #4 closed

[2015-10-22 08:08] #2 closed

[2015-10-22 12:17] miyconst opened #5 "Remove WebPage class, not needed any more"

[2015-10-22 12:22] miyconst opened #6 "Move data to Simplified"

[2015-10-26 12:38] #5 closed

[2015-10-29 09:44] #6 closed

[2015-10-29 11:38] miyconst opened #7 "Create simple admin page"
There should be simple admin panel similar to Content's `/content/cms` to manage WebUrl, WebSection, WebTemplate items.

[2015-11-01 18:35] #7 closed

[2015-12-12 09:11] warpech opened #8 "Replace AddFilterToMiddleware with Application.Use"
`AddFilterToMiddleware` is deprecated. Use `AddRequestFilter` instead. More info: https://github.com/Starcounter/Starcounter/issues/2969

[2016-04-07 12:26] warpech commented on #8
Now `AddRequestFilter` is also deprecated!

Replace `AddFilterToMiddleware` with `Application.Use`, as discussed in https://github.com/Starcounter/Starcounter/issues/3477

[2016-04-14 12:10] warpech opened #9 "Apply BEM to Website's private CSS"
This app contains globally applied CSS rules in stylesheets: https://github.com/StarcounterSamples/Website/search?utf8=%E2%9C%93&q=filename%3A.css

All private CSS should be converted to BEM-style CSS classes defined in a stylesheet, according to the intent started in the issue https://github.com/Starcounter/Starcounter/issues/3450 and explained in the article http://starcounter.io/guides/web/avoi

[2016-05-06 11:46] warpech opened #10 "Remove object observe shims"
The file https://github.com/StarcounterSamples/Website/blob/master/src/Website/wwwroot/Website/viewmodels/LayoutPage.html contains object observe shims that can be removed as of Starcounter 2.2

[2016-09-16 08:43] warpech opened #11 "Replace the usage of the Page class with middleware"
Please replace the usage of the Page class with middleware, since the Page class is obsolete (see Starcounter/Starcounter#3202). The instructions are in the blog post: http://starcounter.io/replace-page-partial-classes-middleware/

[2016-12-19 09:26] warpech opened #12 "Merge with Launcher"
We are going through planned changes in Launcher (configurability of content zones, themability), which in the end will cause Launcher to have comparable functionality to Website app.

"Launcher" (*Web app*) and "Website" (*Web site*) might become two default themes.

This is a long term goal (few months).

@miyconst WDYT?

[2016-12-19 10:32] miyconst commented on #12
I would like to see our Launcher be as flexible as possible, so I am all for it.

[2016-12-29 15:10] warpech commented on #11
@diliger could you please take this? This is the same kind of task as https://github.com/StarcounterPrefabs/UserAdmin/issues/33

[2017-01-04 10:51] warpech commented on #12
Before I do this, I will finish some other issues here, because I need a functioning Website app for trying out.

[2017-01-05 09:33] warpech commented on #11
I am taking this.

[2017-01-09 14:37] warpech commented on #10
Fixed in PR #13

[2017-01-09 14:37] warpech commented on #8
Fixed in PR #13

[2017-01-19 17:11] warpech opened #14 "Remapped URLs should appear only once"
After PR #13 is merged, I would like to discuss the following problem. When a partial is mapped both using `UriMapping.OntologyMap` and the Website `WebMap`, it can be called twice - therefore appear twice in the merged output.

Right now I am just making the issue for future reference.

### Steps to reproduce

1. Start the sample config following the steps in https://github.com/StarcounterPrefabs

[2017-01-20 16:33] warpech opened #15 "Rename some features"
Working on this app, I figured out that it is quite hard to grasp what this app does.

Perhaps renaming some features would help:

1. Rename **Templates** tab to **Surfaces**
   - Prism calls it "shells": https://msdn.microsoft.com/en-us/library/ff921098(v=pandp.40).aspx
   - Progressive Web Apps call it "shells": https://developers.google.com/web/fundamentals/architecture/app-shell
   - Material

[2017-01-20 20:15] warpech opened #16 "Put the template HTML in starcounter-composition"
The template HTMLs in `wwwroot/Website/templates/*.html` should make use of starcounter-composition. Then they become editable in CompositionEditor.

[2017-01-20 21:12] warpech opened #17 "Changing sub-pages of an app reloads the whole app"
### Steps to reproduce

1. Start Website branch `develop`
2. Start People branch `fix-imported-template-26`
3. Start SignIn branch `develop`
4. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
5. Go to `http://localhost:8080/people`
6. Sign in as admin user
7. Click on Organisations in the top menu
8. Click on People in the top menu

### Expected result

As you rep

[2017-01-20 21:14] warpech opened #18 "Move the AppHubTemplate to a special test project"
Move the `AppHubTemplate.html` and related code into a new test project in this repo.

Then the whole startup section from README.md can be moved to that project too.

[2017-01-20 21:47] warpech commented on #14
@chrhol your help on this one will be needed, too.

[2017-01-23 08:44] chrhol commented on #17
No, not really. As far as I can tell from debugging and looking at the patches, it looks fine. The section/row that contains the info is updated, but not the topbar (except some values for signin).

Looking at it from the serverside there should be no reason for the menu to get reloaded.

![capture](https://cloud.githubusercontent.com/assets/1658979/22197017/54220ede-e150-11e6-8527-fcde2e5e97be.JP

[2017-01-23 12:23] warpech commented on #17
Thank you very much for investigating this.

@diliger could you try investigating the client side? Why does it happen in your opinion?

[2017-01-23 16:52] warpech commented on #12
This should be merged with Launcher after we are done will all fixes/changes. This will take few weeks.

[2017-01-27 11:41] diliger commented on #17
After some testing I see the same, it is obvious though...

As we can see in the **patch**, it returns full `StandalonePage` for any new request, with `ShowMenu: true` and `standalone.css` styles.
So the full page gets refreshed.

I tested in Launcher and without Launcher, **patch** contains only the **CurrentPage** part.
![image](https://cloud.githubusercontent.com/assets/15857369/22369715/abce6a

[2017-01-27 16:30] warpech commented on #17
@diliger I tested the steps presented in the first comment and I get exactly the same patches as @chrhol. Are you sure you are following the same steps as we do?

Launcher is not part of this problem, this is between Website and People app. Launcher is not even running.

[2017-01-27 16:33] warpech commented on #17
Actually the problem is exactly at the top of @chrhol's screenshot.

The patch with the index 2 replaces `/TemplateModel/Sections/Main/Rows/0`.

It should replace `/TemplateModel/Sections/Main/Rows/0/People/CurrentPage`. Then the menu would not reload.

@chrhol any idea why is it so and how to fix that?

[2017-01-27 17:15] warpech commented on #11
Fixed in PR #13.

[2017-01-27 17:15] #11 closed

[2017-01-27 17:15] #10 closed

[2017-01-27 17:15] warpech commented on #8
Done.

[2017-01-27 17:15] #8 closed

[2017-01-30 15:07] warpech commented on #14
Ping @chrhol any news on this? This is very important for the Launcher revamp project.

[2017-01-30 15:07] warpech commented on #17
Ping @chrhol any news on this? This is very important for the Launcher revamp project.

[2017-01-30 15:21] warpech commented on #17
To clarify what is reported by @diliger in the comment https://github.com/StarcounterPrefabs/Website/issues/17#issuecomment-275647541:

- the problem appears when running (Website + People + SignIn)
- it works as intended when running (People + SignIn) or (Launcher + People + SignIn)

[2017-01-30 15:54] warpech commented on #17
It might be so because Launcher uses `workspace.MergeJson(resource);` and Website seems to repeat `Self.GET` on the same resource.

[2017-01-30 17:05] warpech commented on #17
I have a solution. Will post it tomorrow.

[2017-01-31 21:54] warpech opened #20 "Clicking "Sign out" forces the DefaultTemplate"
### Steps to reproduce

1. Start Website branch `develop`
2. Start Content branch `develop`
3. Start SignIn branch `develop`
4. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
5. Go to `http://localhost:8080/content/dynamic/apps`
6. Sign in as admin user
7. Sign out

### Expected result

You should go back to the initial page

### Actual result

You are switched t

[2017-01-31 22:01] warpech commented on #20
I know why this happens.

"Sign out" button in the sign in app uses a flag `HandlerOptions.SkipRequestFilters`. Website app uses a **response** filter though, and this flag does not skip that one.

In result, Website app wraps a request that should not be wrapped.

The solution requires a custom HTTP header applied in the **request** middleware that will force skipping of the **response** middlewa

[2017-01-31 22:26] warpech commented on #17
Fixed in PR #22. @diliger thanks for inspiring me for the solution based on your observation.

[2017-02-01 14:19] warpech commented on #17
Closing as done

[2017-02-01 14:19] #17 closed

[2017-02-01 14:24] warpech commented on #20
Closing as fixed, but still requires a proper fix in https://github.com/Starcounter/Starcounter/issues/4073

[2017-02-01 14:24] #20 closed

[2017-02-01 15:10] diliger commented on #16
Should it be like this:
![image](https://cloud.githubusercontent.com/assets/15857369/22512250/640f7a7e-e8a9-11e6-914a-c0bfef9a6153.png)

Or something else?

`<content select="[slot='Website/Navigation']"></content>` - does it take the `OuterHtml` of the element or the `InnerHtml`?

And styles
`<link href="/Website/css/AppHub.css" rel="stylesheet">`
where should it be placed?
Inside template as bef

[2017-02-01 17:02] diliger commented on #15
Rename just titles or all references inside the project as well?

[2017-02-02 09:56] tomalec commented on #16
Neither. It takes the element.
https://www.w3.org/TR/shadow-dom/#shadow-tree
https://dom.spec.whatwg.org/#shadow-trees

I would put them outside of `<template>`.

[2017-02-02 10:02] diliger commented on #16
So, am I correct with that `starcounter-composition`?

And do you mean to move styles link out?
![image](https://cloud.githubusercontent.com/assets/15857369/22544908/c8ee67c2-e947-11e6-9ce0-b10cf13ba7c2.png)

[2017-02-02 10:27] tomalec commented on #16
Yes, if you really want to add styles only once partial is stamped you could add it between `<template>` and `<template is=dom-bind">`. But I strongly suggest to add such styles together with other links, as it's document-wide anyway.

[2017-02-02 11:07] warpech commented on #16
Actually, I think that the `<section>` tags should be **in** starcounter-composition.

The same regarding AppHub.css, it should be **in** starcounter-composition, as:

[code]

[2017-02-02 11:31] diliger commented on #16
you mean like this:
![image](https://cloud.githubusercontent.com/assets/15857369/22547744/35a3a4b6-e954-11e6-8a02-8b6d7b99484d.png)

[2017-02-02 12:17] warpech commented on #16
Yes

[2017-02-02 12:17] warpech commented on #16
Same for DefaultTemplate.html

[2017-02-02 12:35] diliger commented on #16
check it now pls, PR #23

[2017-02-02 14:40] warpech commented on #15
Whatever makes bigger sense.

Big first of all I want to get comments if you agree that this a change for better.

cc @miyconst WDYT?

[2017-02-07 07:06] diliger commented on #16
cc @warpech

[2017-02-07 15:39] warpech commented on #15
I was discussing this with @tomalec on Friday.

I had an idea to rename **Templates** to **Surfaces*. And then to rename **Sections** to **Insertion points** or **Includes**.

@tomalec have you slept on it, do you have some new proposals here?

[2017-02-07 19:32] tomalec commented on #15
I like Surfaces.

I'd like to do another round of brainstorming, once the app's code is cleaned up, so we could reduce even more :>

[2017-02-08 14:56] diliger opened #24 "open Website default page stops all applications"
when I click the button Open for **Website** app in **Starcounter Administrator**
page for `localhost.../Website` opens, results to `URI not found` and all started applications die.

is that appropriate behaviour?
![image](https://cloud.githubusercontent.com/assets/15857369/22742475/e853530e-ee27-11e6-9517-2595e72f70af.png)

[2017-02-08 23:05] warpech commented on #24
@diliger thanks for reporting! It is certainly not appropriate.

When reporting bugs, please provide information like:

- Starcounter version
- App version
- Error from the error log

---

I **can** reproduce it with Website app (`develop` branch) and Starcounter 2.3.0.5512

In Administrator Log I can see an exception:

[code]

@andwah, @per-samuelsson any ideas what is happening?

[2017-02-08 23:05] warpech opened #25 "Remove the "Key" column from Website CMS"
Right now, all tables in Website CMS contain a "Key" column, which is totally unneeded. Please remove it.

[2017-02-08 23:07] warpech commented on #14
I've discussed this with @chrhol and he suggests that it works as desired. It should be fixed by unmapping "Registration" form from "Sign In" form.

If we want to show them together, we can map both explicitly it an "Unauthorized page" in any app.

@miyconst do you agree?

[2017-02-09 07:23] andwah commented on #24
Sorry, no ideas just by reading this issue.

[2017-02-09 07:39] per-samuelsson commented on #24
As an *exception*, really? Otherwise I would have suggested that thing was not related to the crash of the host, because it's already a [known issue](https://github.com/Starcounter/Starcounter/issues/3937). (But apparently by design)

[2017-02-09 07:48] warpech commented on #24
@per-samuelsson you a right, this is an unrelated warning...

So yes, this is a crash that is caused by the handler `/Website` in the Website app. It happens also when you visit the URI directly, not from Administrator.

Visual Studio shows me that calling the handler throws:

[code]

The above exception is not registered in the error log.

After that, all running applications stop.

@diliger can

[2017-02-09 07:51] warpech opened #26 "Self.GET can only be to own URI"
Website app has a Self.GET to a URI starting with `/sc/mapping`. This is wrong. Self.GET should be only to own URIs, mapped to `/sc/mapping` (or equivalent: UriMapping.MappingUriPrefix) in a mapping file.

See how it was fixed in Launcher: https://github.com/StarcounterPrefabs/Launcher/pull/257/files

[2017-02-09 07:52] chrhol commented on #24
I will take a look as well. Sounds like some internal problem in Starcounter.XSON or that a sibling (=merged json) is attached in a way that causes an infinite loop.

I have a point to add checks for this inside TypedJSON to avoid stackoverflow, but haven't gotten around to implement it yet. I will raise the priority on it though.

[2017-02-09 08:16] chrhol commented on #24
Something is messed up with the merged json/siblings

One instance of json in website is merged with a parent of itself.

[code]

I haven't found yet why this is happening, but this will lead to an infinite loop.

[2017-02-09 08:22] diliger commented on #24
In debug mode this line causes to an error in

![image](https://cloud.githubusercontent.com/assets/15857369/22774850/0778418a-eeba-11e6-95bf-ac70edbc61f7.png)

[2017-02-09 08:36] per-samuelsson commented on #24
So that's why there was nothing in the log: stack overflows are generally hard to capture.

Now that @chrhol is on it, I feel calm. 👶

[2017-02-09 08:37] chrhol commented on #24
From what I can see this happens because of the following:

First on line 193 in `ContentHandlers.cs`:
[code]
where
`sectionJson.Rows[index]` is `{Website.ContainerPage}`
`res.Resource` is `{Website.LayoutPage}`

And then line 139 in the same class:
[code]
where `master` is the same instance as the json that was merged on line 193 (`{Website.LayoutPage}`)

In this case, as @diliger pointed out the

[2017-02-09 08:50] diliger commented on #26
PR #27

[2017-02-09 09:00] diliger commented on #25
PR #28

[2017-02-09 09:17] diliger commented on #26
Done.

[2017-02-09 09:17] #26 closed

[2017-02-09 09:28] warpech opened #29 "Make Website CMS appear in its own default template"
Right now, Website CMS bypasses it's own wrapping rules.

Let's make Website CMS wrap itself in a template, meaning: migrate `StandalonePage.html` a `Templates/WebsiteCMSTemplate.html` and set up `/website/cms/*` links to be wrapped by it.

[2017-02-09 09:49] diliger commented on #16
Merged PR #23

[2017-02-09 09:50] chrhol commented on #24
Added issue for adding detection: https://github.com/Starcounter/Starcounter/issues/4085

However, this will not solve anything. Just give a chance to make it easier to find out why it happened. The problems above still needs to be solved somehow.

Why is master merged with a child if itself in this case?

[2017-02-09 09:51] warpech commented on #16
Yay!

[2017-02-09 09:51] #16 closed

[2017-02-09 09:52] warpech commented on #24
I think that proper implementation of #29 will fix this

[2017-02-09 10:03] diliger commented on #25
Merged PR #28
Closing.

[2017-02-09 10:03] #25 closed

[2017-02-10 11:03] warpech commented on #15
I have changed the first post to contain the current proposal.

Please change texts, urls, view-model names and file names. Do NOT change Simplified class names.

This is not final change in the UI, in a next issue we want to streamline it more to look like CloudFlare:

<img width="1396" alt="screen shot 2017-02-10 at 12 01 28" src="https://cloud.githubusercontent.com/assets/566463/22824590/d32b13

[2017-02-11 10:23] warpech commented on #29
I will work on it this weekend.

[2017-02-11 10:24] warpech commented on #24
I will work on it this weekend.

[2017-02-11 10:24] warpech opened #30 "Replicate Launcher's template in Website"
Replicate Launcher's theme in Website, for a nice demo.

I will work on it this weekend.

[2017-02-11 16:18] warpech opened #31 "Add a button to Restore the default surfaces"
We should make it impossible to delete the default template, because that is hard to recover.

Or allow to revoke the default template with some button.

[2017-02-13 11:03] warpech commented on #29
Implemented in PR #32

[2017-02-13 11:03] warpech commented on #30
Initial work started in PR #30, I will continue it after the merge.

[2017-02-13 11:04] warpech commented on #14
Assigning this to me to apply the fix proposed by @chrhol

[2017-02-13 11:13] warpech opened #33 "DefaultTemplate TopBar appears wrong"
### Steps to reproduce

1. Start Website and WebsiteProvider (branch `feature/29-cms-default-template`)
2. Start SignIn branch `develop`
2. Start CompositionEditor branch `develop`
2. Call `http://localhost:8080/website/resetdata` to load default mappings
4. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
5. Go to `http://localhost:8080/website/cms`
6. Sign in as

[2017-02-13 11:16] warpech commented on #24
I will unassign me from this because of other tasks that I should focus on.

@diliger please give it another try after #30 is merged. It should be simple to fix this issue by renaming `/website/cms` to `/website`.

`/websiteprovider` should show some welcome text "Welcome to WebsiteProvider".

[2017-02-13 23:08] warpech commented on #15
@diliger if you decide to work on this than this has now top priority for the Wednesday demo.

[2017-02-15 08:30] warpech commented on #29
Closing as done

[2017-02-15 08:30] #29 closed

[2017-02-15 13:04] tomalec opened #34 "Rename the app "Website" to "WebsiteEditor""
As an extension to https://github.com/StarcounterPrefabs/Website/issues/15
what about renaming this app to something like "Blender"?

As it fact this is the app that lets you blend the output of many apps which is just hidden behind inaccessible URLs.

//cc @warpech

[2017-02-15 13:43] tomalec commented on #34
Or at least call the suite:
 - Website
 - WebsiteProvider
 - CompositionProvider
 - CompositionEditor

the "Blending Suite"

[2017-02-15 14:48] warpech commented on #15
Taking this

[2017-02-15 17:06] warpech commented on #30
Implemented in PR #35

[2017-02-15 17:07] warpech commented on #15
Work in progress started in PR #36

[2017-02-15 17:10] warpech commented on #34
Good initiative, let's sleep on it.

An idea to ridiculous to consider, but to funny to keep to myself: **Blend-a-web**

![image](https://cloud.githubusercontent.com/assets/566463/22985800/e754b420-f3a9-11e6-8833-106b7535da36.png)

[2017-02-17 05:07] diliger commented on #29
PR #38

[2017-02-17 05:07] diliger commented on #24
PR #38

[2017-02-17 11:56] warpech commented on #24
Can you first review PR #35? I am afraid there might be some conflicts

[2017-02-17 12:01] diliger commented on #24
I have only one question there

[2017-02-17 21:11] warpech commented on #30
Closing as done

[2017-02-17 21:11] #30 closed

[2017-02-18 23:16] diliger commented on #33
after some investigations.. I have a question here
to display it fine with css i should apply `display: flex;` for very nested `juicy-composition`
see the picture
![image](https://cloud.githubusercontent.com/assets/15857369/23097583/1b83bf66-f648-11e6-8495-9c88c47099cb.png)

the style created in `DefaultTemplate` is

but in my case it should be

I think it is a bit too long and unstable.

Another

[2017-02-20 13:34] warpech commented on #33
Just use the same selectors as in LauncherTemplate.html: https://github.com/StarcounterPrefabs/Website/blob/3e8a7c0fbe770e0dc061c5448715259f8e9c9b7b/src/Website/wwwroot/Website/templates/LauncherTemplate.html#L179-L188

CompositionEditor/Master.html

This is not good for two reasons: (1) floats are bad practice, (2) requires changing an app, which should not be needed. But I admire that you took t

[2017-02-21 11:26] warpech commented on #31
How about fixing it differently?

1) Clicking on an unchecked "Default", unchecks the previous default and checks the new one
2) Clicking on an checked "Default" does nothing
3) It is not possible to delete a template marked as "Default"

The same should apply for Sections:

1) When you create a Template/Surface, it always has one "Main" section/blending point that is marked as Default.
1) Clickin

[2017-02-21 12:46] diliger commented on #24
Merged. Closed.

[2017-02-21 12:46] #24 closed

[2017-02-21 14:14] tomalec commented on #33
For Step "5. Go to http://localhost:8080/signin/generateadminuser to generate the admin user"

I get:
[code]

Can you isolate it a littl bit more?

[2017-02-21 16:36] warpech opened #41 "Add a "Final" property to Urls/Catching URIs"
### Steps to reproduce

1. Start Website and WebsiteProvider (branch `develop`)
2. Start SignIn branch `develop`
2. Call `http://localhost:8080/website/resetdata` to load default mappings
4. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
5. Go to `http://localhost:8080/website/cms`
6. Sign in as admin user
7. Go to Urls/Catching URIs tab and create a rule `Launch

[2017-02-22 10:53] Loudness commented on #33
@tomalec. I kept getting the Starcounter.Db.Transact MethodNotFoundException after updating  Starcounter. So, I recompiled the Signin project with the new starcounter installed and it worked.
The method signature seem to change between versions, but that's just a guess.

[2017-02-22 12:12] warpech commented on #33
[Simplified](https://github.com/StarcounterPrefabs/Simplified/commits/master) was last updated on Feb 16th. Please make sure you use Starcounter 2.3.0.5704 or newer.

[2017-02-22 12:31] tomalec commented on #33
Thanks, that was it. I got it.

[2017-02-22 22:05] warpech commented on #15
Closing as done.

[2017-02-22 22:05] #15 closed

[2017-02-23 12:22] Mackiovello opened #42 "Adapt view to Declarative Shadow DOM"
According to https://github.com/Starcounter/RebelsLounge/issues/59

Follow the guidelines in the following three posts to adapt the views to use Declarative Shadow DOM:

* [Layout compositions for HTML partials](https://starcounter.io/layout-compositions-html-partials/)
* [How to Apply New Shadow DOM Layouts to Existing HTML Templates](https://starcounter.io/making-apps-blendable/)
* [HTML View Gu

[2017-02-24 15:03] warpech commented on #34
Let's discuss that on Monday.

[2017-02-24 16:03] un-tone opened #44 "Website cannot change a Surface"
### Pre-requisites

1. Use `Simplified.Data.Model` assembly from the `feature/Add-IsFinal-property-WebUrl` branch of the `Simplified` repo

### Steps to reproduce

1. Start Website and WebsiteProvider (branch `feature/Add-IsFinal-property-CatchingURLs`)
2. Start SignIn branch `develop`
2. Call `http://localhost:8080/website/resetdata` to load default mappings
4. Go to `http://localhost:8080/signin

[2017-02-24 16:04] un-tone commented on #44
@warpech could you please look at this?

[2017-02-24 16:07] un-tone commented on #44
The issue is related to https://github.com/StarcounterPrefabs/Website/issues/41

[2017-02-24 16:09] un-tone commented on #41
Created PRs https://github.com/StarcounterPrefabs/Simplified/pull/45 and https://github.com/StarcounterPrefabs/Website/pull/43.
https://github.com/StarcounterPrefabs/Website/issues/44 must be fixed before resolving this.

[2017-02-24 17:55] tomalec opened #45 "DenyPage.html and CmsPage.html does not need `dom-bind`"
Pages
- https://github.com/StarcounterPrefabs/Website/blob/master/src/Website/wwwroot/Website/viewmodels/DenyPage.html
- https://github.com/StarcounterPrefabs/Website/blob/master/src/Website/wwwroot/Website/viewmodels/CmsPage.html
Does not need `<template is="dom-bind">`. I suggest to remove it to improve performance and code clarity.

[2017-02-24 20:13] tomalec opened #46 "Navigation through page causes double replace operation"
### Steps to reproduce
1. Run Website + SignIn + People
2. Go to `http://localhost:8080/people`
3. Navigate using People menu back ant forth
4. Check Network tab

### Expected result
`http://localhost:8080/people/persons` XHR Should contain only one `replace` for `/WebTemplatePage/Sections/Main/Rows/0`.

### Actual result
Two are send:
[code]

### Technical information

That may cause us performan

[2017-02-24 20:49] #33 closed

[2017-02-25 06:42] warpech commented on #33
Done in #40

[2017-02-25 10:12] diliger commented on #31
But in that way it is possible to have only one **Default** `Surface` at a time.
And I think that is not correct.
For example we may have `LauncherTemplate` and `DefaultTemplate` both as **Default**, don't we?

[2017-02-25 16:56] warpech commented on #31
I think that it doesn't make sense to have two "Defaults", because what would that mean? This SQL query only cares about the first Default found: https://github.com/StarcounterPrefabs/Website/blob/8633a0cb821c5dbee341b18b5f1e2ba0d3bcba7a/src/WebsiteProvider/Api/ContentHandlers.cs#L103

Anyway, please disregard my above comments, because they conflict with PR #43.

[2017-02-25 17:48] diliger commented on #31
I think that means it is the Final and shouldn't be wrapped again.

[2017-02-27 20:32] warpech opened #47 "Add Workspaces to the Website app"
@malx122 represents use case in which the DOM state of blending point should be retained as it was done in Workspaces in the old Launcher.

A similar functionality should be implemented in Website.

Ideally it should allow caching multiple responses from the same app, as well as configuring the caching limit.

[2017-02-28 07:28] diliger commented on #31
Closing as done.

[2017-02-28 07:28] #31 closed

[2017-03-01 08:15] warpech commented on #41
I think that this can be closed before #44 is fixed.

#44 blocks navigating from one surface to another, but that is another problem.

[2017-03-01 12:33] un-tone commented on #41
Closing as done.

[2017-03-01 12:33] #41 closed

[2017-03-01 12:49] warpech opened #48 "Allow more catching rules than just URI"
For the beginning, it should be possible to use not just URI for a rule but also a regexp matched against one or more HTTP headers (`User-Agent`, `Cookie`, etc).

CloudFlare has a nice UI for that. Check out the video: https://www.cloudflare.com/features-page-rules/

@un-tone WDYT about that?

[2017-03-01 12:50] warpech commented on #47
I am aware that this requires more clarification before implementation. Assigning it to me for the time being.

[2017-03-02 15:16] warpech commented on #44
Can you try investigating why this happens?

[2017-03-02 19:43] un-tone commented on #44
Created PR https://github.com/StarcounterPrefabs/Website/pull/49

[2017-03-03 11:42] un-tone commented on #44
Closing as done

[2017-03-03 11:42] #44 closed

[2017-03-03 12:05] warpech opened #50 "Moving between pages reloads the whole blending point"
@un-tone could you please investigate?

### Steps to reproduce

1. Start People (branch `develop`), Website (branch `develop`), WebsiteProvider (branch `develop`), SignIn (branch `develop`)
2. Call `http://localhost:8080/website/resetdata` to load default mappings
3. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin use
4. Go to `http://localhost:8080/people`
5. Sign in

[2017-03-03 12:07] warpech commented on #46
@un-tone can you please investigate this?

[2017-03-03 13:12] un-tone commented on #48
@warpech looks nice

[2017-03-03 16:23] un-tone commented on #46
Create PR https://github.com/StarcounterPrefabs/Website/pull/52

[2017-03-03 16:37] warpech commented on #46
@chrhol the PR #52 fixes this problem. For me this looks like a bug in Starcounter. Could you confirm, and if yes, then create a Starcounter issue?

[2017-03-05 10:08] un-tone commented on #50
Created PR https://github.com/StarcounterPrefabs/Website/pull/53

[2017-03-06 11:31] un-tone commented on #50
The issue "the menu gets stamped out again at the bottom of the page" (https://github.com/Juicy/imported-template/issues/26) is fixed with this PR https://github.com/StarcounterPrefabs/Website/pull/53

[2017-03-06 14:49] joozek78 opened #54 "Support regex in Catch Uris"
Outline
---

You want to assign a layout to whole app, but you don't know the exact URLs of this app. There is a real scenario (Sweoffshore) where you create a layout for a suite that might expand in the future and you can't predict exact URLs in those apps . Catch Uris only support wildcards for one segment, so `/App/{?}` would catch `/App/abc`, but wouldn't catch `/App/a/b/c`.

Workaround
---

C

[2017-03-07 07:32] un-tone commented on #46
Closing as done.

[2017-03-07 07:32] #46 closed

[2017-03-07 17:12] un-tone opened #55 "Moving to a page with not final Catching rule reloads whole Surface"
### Steps to reproduce

1. Start Website (branch `develop`), WebsiteProvider (branch `develop`), SignIn (branch `develop`)
2. Call `http://localhost:8080/website/resetdata` to load default mappings
3. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin use
4. Go to `http://localhost:8080/website/cms`
5. Sign in as admin user
6. Reload the page
7. Go to `http://localhost:80

[2017-03-07 17:13] un-tone commented on #50
Added another related issue https://github.com/StarcounterApps/Website/issues/55

[2017-03-08 13:22] joozek78 opened #56 "NullReferenceException when Pinning Rule refers to a static html"
### Steps to reproduce

1. Create a pinning rule that has its Pin URI set to a static html file (can be `/Website/templates/DefaultTemplate.html`)
1. Go to a URL that uses this rule

### Expected result

It would be enough if an informative error would be displayed. Example:

It would probably be even better to automatically wrap static HTMLs with Json instance (`new Json {"Html"= htmlUrl}`)

###

[2017-03-08 15:20] joozek78 opened #58 "Inifinte loop when no Catching Rule is default"
### Steps to reproduce

1. Untick "final" checkbox beside all Catching Rules with empty URI
1. (Try to) load any page

### Expected result

Stuff loads and works. If no catching rule matches, then the page is loaded as-is

### Actual result

An infinite loop. Debug indicates it's somewhere inside here:

[code]

### Technical information

##### Starcounter version

2.3.0.5851

##### Involved apps'

[2017-03-09 14:15] warpech opened #59 "CompositionEditor only works correctly when started before Website"
### Steps to reproduce

1. Start Website `run.bat` (`develop` branch)
2. Start CompositionEditor `run.bat` (`develop` branch)
3. Go to `http://localhost:8080/website/cms`
4. Press CTRL+E

### Expected result

The Composion Editor panel should show up.

### Actual result

Nothing happens, the browser address bar gets focused.

This happens because Website middleware (`Application.Current.Use`) canc

[2017-03-09 15:52] warpech opened #60 "Add tests to Website"
@un-tone, pls add Selenium tests to WebsiteProvider to test for the most common problems that were solved with the recent PRs.

The tests should be based on the structure of the testing framework used in https://github.com/StarcounterApps/KitchenSink/tree/develop/test/KitchenSink.Tests

Since Surfaces switch between many apps, I propose to create few helper apps for testing. The same approach was

[2017-03-09 15:57] un-tone commented on #50
Closing as done.

[2017-03-09 15:57] #50 closed

[2017-03-10 12:46] warpech opened #61 "Surface composition is not editable with CompositionEditor"
### Steps to reproduce

1. Start CompositionEditor `run.bat` (`develop` branch)
2. Start CompositionProvider `run.bat` (`develop` branch)
3. Start Website & WebsiteProvider `run.bat` (`develop` branch)
4. Go to `http://localhost:8080/website/cms`
5. Press CTRL+E
6. Double click on the input in the composition editor and select `[slot="WebsiteProvider/Surface/DefaultTemplate"]`
7. Press "Save" butt

[2017-03-11 02:22] atifwaqar opened #62 "Question : Is there a way to avoid page flicker on clicking/changing tabs?"
### Steps to reproduce
go to http://localhost:8080/website
Click `Bleeding Points`

### Expected result
The Page should render without flickering. Or there should be an option to display loading icon

### Actual result
The html is refreshed, so the page flickers. In this example it does not flicker alot, but In my repo, I have pages with much more delay.

##### Starcounter version
2.3.0.5828

####

[2017-03-13 12:52] un-tone opened #63 "Incorrect merging of JSON when adding another app's data into the same Section"
### Steps to reproduce
1. Start Website (branch `develop`), WebsiteProvider (branch `develop`), SignIn (branch `develop`)
2. Start People (branch `develop`) and KitchenSink (branch `test/External-App-Link-People`)
3. Go to `http://localhost:8080/KitchenSink`
4. Click on the "People app" link (below in the navigation area)
5. Check Console logs and Network tabs

### Expected result
Shows the Person

[2017-03-14 10:43] un-tone opened #64 "Transaction state is not always being updated on the client side"
### Steps to reproduce
1. Start **Website** (branch `develop`), **WebsiteProvider** (branch `develop`), **SignIn** (branch `develop`)
2. Go to `http://localhost:8080/website/cms/catchingrules`
3. Change something

### Expected result
"Save" button get active.

### Actual result
Nothing happened with the "Save" and "Cancel" buttons on the form. The client side doesn't get changes of the current tra

[2017-03-14 13:48] warpech commented on #63
@chrhol could you pls investigate this? Looks like a server side issue with patch generation.

[2017-03-14 13:58] un-tone commented on #58
Created PR https://github.com/StarcounterApps/Website/pull/65.
Also I want to clarify, the application requires to have at least "final" or "catch-all" URI rule for all requests.

[2017-03-14 14:19] joozek78 commented on #58
It would be nice if it didn't required that, but that's actually quite easy to work around. More importantly, the application should tell the user about its requirements, not enter an infinite loop nor throw mysterious exception.

[2017-03-15 22:34] warpech commented on #58
Once again I would start from taking inspiration from https://www.cloudflare.com/features-page-rules/must-use-page-rules/

----

Let's translate it to our jargon:

1. Only one Catching Rule will trigger per Catch URI, so it is helpful if you sort Catching Rules in priority order, and make your URI patterns as specific as possible.

And let's add three more constrains:

2. A matched Catching Rule w

[2017-03-16 16:10] warpech opened #66 "Use uniform batch scripts"
Use uniform batch scripts as presented in https://starcounter.gitbooks.io/guidelines/content/batch-files.html

Discussion: https://github.com/Starcounter/Guidelines/issues/6

[2017-03-17 10:02] warpech commented on #66
According to the discussion linked above, `make.bat` and `restart.bat` should be removed.

[2017-03-17 12:32] warpech commented on #66
Some projects output the exe files to `./bin/Debug` instead of `./src/<appname>/bin/Debug`.

The latter form is expected (see https://starcounter.gitbooks.io/guidelines/content/project_structure.html)

If this solution does not output the exe files to the desired paths (both in msbuild and in VS), please fix that immediately too.

[2017-03-17 13:22] warpech opened #67 "Configure continous integration on TeamCity"
The project should have a similar job to KitchenSink in TeamCity.

[2017-03-17 13:58] KmaTTi89 commented on #66
Done in https://github.com/StarcounterApps/Website/pull/68

[2017-03-17 14:30] KmaTTi89 commented on #67
Done

[2017-03-17 14:30] #67 closed

[2017-03-19 17:24] un-tone commented on #58
@joozek78 I eliminated that requirement

[2017-03-20 17:46] chrhol commented on #63
I've found a couple of bugs. One I have fixed (only locally so far though). The other one comes from reusing the instance of the sections, where patches for the new and removed siblings is not detected. This I have yet to fix. I will create an issue in the Starcounter repo for that one.

I found one more thing, I tried to change so that the section is not reused (as a workaround) but instead alway

[2017-03-21 14:02] chrhol commented on #63
I think I have found the problems. Still not pushed though. I need to test it some more before pushing, I'm aiming at having it pushed before the next nightly build though.

Issue in Starcounter: https://github.com/Starcounter/Starcounter/issues/4170

[2017-03-21 21:08] chrhol commented on #63
I've pushed the fixes for the incorrect/missing patches now. Should be included in this nights nightly build. Please let me know if this solves this issue.

[2017-03-23 09:21] KmaTTi89 commented on #66
Done in https://github.com/StarcounterApps/Website/pull/69

[2017-03-23 09:21] #66 closed

[2017-03-26 20:37] diliger commented on #9
What are these styles for?
![image](https://cloud.githubusercontent.com/assets/15857369/24334961/1839a0cc-127d-11e7-8d57-31d892311405.png)

Should they be bemified?
And what means `/*shimmed browsers*/`?

[2017-03-27 21:27] warpech commented on #9
@tomalec could you please prepare some response in form of a quick blog post?

[2017-03-28 15:57] un-tone commented on #63
The issue was fixed. Thanks @chrhol

[2017-03-28 15:57] #63 closed

[2017-03-28 16:57] warpech commented on #63
Thank you both! 🎊

[2017-03-31 22:00] tomalec commented on #9
To be honest I would say those selectors are buggy.
1. `h1` is matching entire document, not just "shimmy-distributed" ones.
2. ekhm.. https://github.com/Starcounter/RebelsLounge/issues/66

Do we really want to post a blog entry on the fact that WebComponents polyfill v0 (which we are going to change ASAP) is limited https://github.com/webcomponents/webcomponentsjs/tree/v0#limited-css-encapsulatio

[2017-03-31 22:04] tomalec commented on #9
Maybe instead of a blog post for this particular workaround, we should prepare a cheat-sheet with common Shadow DOM snippets, selectors, use-cases, tricks, which will also cover know bugs, limitation etc. I think it may be easier to maintain it in such form, and it should give more value to the team.

[2017-04-02 18:39] warpech commented on #9
Cheat-sheet is a very good idea. We and our partners have 20-30 apps to migrate, so it will not be a waste of time.

[2017-04-03 16:59] warpech commented on #64
I confirm this also happens to me.

[2017-04-04 08:21] diliger commented on #9
So, how to deal with it here?

[2017-04-04 13:07] warpech commented on #9
Only BEMify the styles in https://github.com/StarcounterApps/Website/blob/develop/src/Website/wwwroot/Website/css/standalone.css

Regarding the file https://github.com/StarcounterApps/Website/blob/develop/src/Website/wwwroot/Website/css/AppHub.css, it shows an attempt to style the distributed DOM, which is something that we should solve separately from this issue. Disregard that file for now.

[2017-04-04 17:15] un-tone commented on #58
Should be added tests covered this issue after merging https://github.com/StarcounterApps/Website/pull/71

[2017-04-04 17:16] un-tone commented on #60
Created PR https://github.com/StarcounterApps/Website/pull/71

[2017-04-05 09:13] chrhol opened #72 "Synchronization problems for declared members in class that holds urihandlers."
Using members `CurrentResponse` and `CurrentTemplate` in class `ContentHandler` ([these lines](https://github.com/StarcounterApps/Website/blob/master/src/WebsiteProvider/Api/ContentHandlers.cs#L127-L128)) will not work since the urihandlers that reads and writes them can (and will) be called from more than one thread at the same time and these members are not threadsafe.

This means that if there

[2017-04-06 20:34] warpech opened #73 "Run the test project in TeamCity"
After PR https://github.com/StarcounterApps/Website/pull/71 is merged to develop, set up TeamCity to run the test project.

@KmaTTi89 is it possible to have a conditional config in every app in TC to run the test project if it exists? Then we can set up Website `develop` branch build to run the tests as well as the `master` branch build, even though `master` does not have the test project yet.

[2017-04-06 20:55] warpech opened #74 "Make partial views Shadow DOM v1 ready"
@tomalec I saw you made PRs is few apps to migrate views to Shadow DOM v1. I have a problem to do that in surfaces in this app:

https://github.com/StarcounterApps/Website/tree/develop/src/Website/wwwroot/Website/templates

Could you pls help?

[2017-04-06 23:13] tomalec commented on #74
Could we assume V1 support => CSS Grid Layout support?

supporting this
[code]
in V1 will not be possible without serious JS hacks.

And still supporting even `.website-defaulttemplate-topbar ::content > starcounter-include > juicy-composition > starcounter-include > juicy-composition` (which looks smelly and liek a bad design) without touching the light DOM and HTML structure may not be possible.

[2017-04-06 23:38] tomalec commented on #34
Blending Scaffold?

[2017-04-07 08:29] KmaTTi89 commented on #73
@warpech
I can check that.
I will add testing build step to develop and master for Website project and disable it. I will enable it when test project will be in the code

[2017-04-07 10:19] warpech commented on #74
Yes :trophy:

Will that allow us to remove the `> starcounter-include > juicy-composition` stuff?

[2017-04-07 10:26] un-tone commented on #60
Closing as done. For next fixes we agreed to always include tests (if it is applicable).

[2017-04-07 10:26] #60 closed

[2017-04-07 11:46] tomalec commented on #74
Not really, we need to get rid of this stuff even earlier. But It will allow us to remove `... ::shadow>*`

[2017-04-07 12:01] tomalec opened #76 "Website Provider is detected by Avast antivirus as threat"
### Steps to reproduce
1. execute run.bat with Avast antivirus running

### Expected result
App should run

### Actual result
App does not run as gets blocked.

### Technical information

##### Starcounter version 2.3.0.6246

##### Involved apps' version

https://github.com/StarcounterApps/Website/commit/5a955a365cbe4b288c1da68a8e280d835acb3dc7

##### Browsers affected
n/a

### Screenshot
![image]

[2017-04-07 12:13] tomalec opened #78 "Why do I need Content app to run Website? WebSite provider is not mentioned."
### Steps to reproduce
1. Go to https://github.com/StarcounterApps/Website#sample-environment-setup-steps
2. Follow the steps

### Expected result
Minimal set of apps is running, you are able to experience the features of the app

### Actual result
Content seems to be not needed, WebSiteProvider and SignIn is needed.

### Technical information

##### Starcounter version 2.3.0.6246

##### Involved

[2017-04-10 08:10] KmaTTi89 commented on #73
Tests are running

[2017-04-10 08:10] #73 closed

[2017-04-13 09:58] warpech opened #79 "Replace AppHub template with HolyGrail template"
The AppHub template present in the Website app is an example of doing a web site interface with the Website app.

The AppHub template is not flexible and hard to maintain. It should be replaced with more flexible and recognizable HolyGrail template.

See: https://en.wikipedia.org/wiki/Holy_Grail_(web_design)

[2017-04-13 10:48] warpech commented on #45
@un-tone can you pls take it?

[2017-04-13 11:10] tomalec opened #81 "Add info to the README on how to reset/generate data"
### Steps to reproduce
1. open https://github.com/StarcounterApps/Website
2. try to find info how to reset default data

### Expected result
There is nice how to.

### Actual result
There is none.

### Technical information

##### Starcounter version n/a

##### Involved apps' version

https://github.com/StarcounterApps/Website/blob/162d13c9263ab8e47e0471c1759951445fe0f2c6/README.md

##### Browsers

[2017-04-13 16:03] un-tone commented on #64
Created PR https://github.com/StarcounterApps/Website/pull/83. Please review.

[2017-04-13 16:11] un-tone commented on #45
Created PR https://github.com/StarcounterApps/Website/pull/84

[2017-04-13 16:57] un-tone commented on #45
Closing as done.

[2017-04-13 16:57] #45 closed

[2017-04-14 17:54] un-tone commented on #58
Tests are implemented.

[2017-04-17 20:16] un-tone commented on #59
Created PR https://github.com/StarcounterApps/Website/pull/85

[2017-04-17 20:57] un-tone commented on #61
Created PR https://github.com/StarcounterApps/Website/pull/86

[2017-04-18 11:31] un-tone commented on #64
Closing as done

[2017-04-18 11:31] #64 closed

[2017-04-19 12:51] tomalec commented on #74
Implemented with https://github.com/StarcounterApps/Website/issues/80

[2017-04-19 12:51] #74 closed

[2017-04-19 12:51] tomalec commented on #42
Implemented with https://github.com/StarcounterApps/Website/issues/80

[2017-04-19 12:51] #42 closed

[2017-04-19 15:16] un-tone commented on #61
Closing as done.

[2017-04-19 15:16] #61 closed

[2017-04-20 12:34] andwah opened #88 "Cannot change parent of objects in Typed JSON trees"
When clicking "Surfaces" menu
[code]

[2017-04-20 13:14] un-tone commented on #59
Closing as done

[2017-04-20 13:14] #59 closed

[2017-04-21 13:14] tomalec opened #89 "Release a new version"
It seems we didn't release a version since Nov, and we made quite many changes.

I'd like to release new one to the warehouse.
@warpech, @un-tone, @diliger Do you think we should bump something higher than PATCH?

[2017-04-21 16:12] warpech commented on #89
Last release was Nov 30, 2015, so I would say *everything* has changed.

Please do the release, but the MAJOR number must be bumped.

[2017-04-21 16:16] warpech commented on #79
Closing as done

[2017-04-21 16:16] #79 closed

[2017-04-21 16:17] warpech commented on #9
Ping @diliger

[2017-04-21 16:24] warpech commented on #78
Taking this now

[2017-04-21 16:24] warpech commented on #81
Taking this now

[2017-04-21 16:38] warpech commented on #81
Fix in PR #90

[2017-04-21 16:39] warpech commented on #78
Fix in PR #90

[2017-04-21 16:39] warpech commented on #18
This is made obsolete by https://github.com/StarcounterApps/Website/issues/79, closing

[2017-04-21 16:39] #18 closed

[2017-04-24 11:52] tomalec commented on #89
I have just released the Website and WebsiteProvider to the warehouse. However Website does not get stacked with old Website (http://warehouse.starcounter.com/warehouse/organizations/starcounter), as the namespaces does not match, should I completely remove the old one (http://warehouse.starcounter.com/warehouse/organizations/starcounter/softwares/website)? Hopefully to get nice URL for the new on

[2017-04-24 11:57] tomalec commented on #89
Feel free to edit release notes https://github.com/StarcounterApps/Website/releases/tag/1.0.0 and add the changes you have made.

[2017-04-24 13:12] warpech commented on #78
Closing as done

[2017-04-24 13:12] #78 closed

[2017-04-24 13:12] warpech commented on #81
Closing as done

[2017-04-24 13:12] #81 closed

[2017-04-24 13:15] warpech commented on #89
@andwah can you pls help with the above question regarding the Warehouse?

[2017-04-24 13:39] andwah commented on #89
not sure if i can help with the question if we should keep the old WebSite app or not.  If we decide to keep it and we want the apps to be "stacked" then they need to have same `namespace` .
We can update the namspace of the old version to be the same as the new one by changing the namspace in the config file and reupload it.

[2017-04-24 15:03] warpech commented on #89
Thanks. Then I propose to just delete the old Website app in the warehouse.

In broader context, there was a proposal to replace app namespaces with something else: https://github.com/Starcounter/Warehouse/issues/110

[2017-04-24 15:23] tomalec commented on #89
Thanks for the comments :) I have just removed the old one, so now we have one and only http://warehouse.starcounter.com/warehouse/organizations/starcounter/softwares/website

[2017-04-24 15:23] #89 closed

[2017-05-04 16:07] warpech opened #94 "Use GetHandlerForUri instead of current implementation of GetWildCardUrl"
In https://github.com/StarcounterApps/Website/pull/92#discussion_r113422681, a workaround was made for something that should be available as a helper method in Starcounter `Handle` class.

A new method `GetHandlerForUri` was requested in https://github.com/Starcounter/Home/issues/99 and it should be used in Website app when available.

[2017-05-08 09:38] andwah opened #95 "Signup icon is not visible with Latest SC RC (2.3.1.6410)"
Note, this work fine in RC 2.3.0.6350 but not in RC 2.3.1.6410

### Steps to reproduce

1. Install starcounter RC 2.3.1.6410
2. Install  Sign In v5.1.1 from app warehouse
2. Install  Website v1.0.0 from app warehouse
2. Install  WebsiteProvider v1.0.0 from app warehouse

### Expected result

Sigin in icon in upper right corner
![image](https://cloud.githubusercontent.com/assets/2656996/25798698/81

[2017-05-09 18:49] un-tone opened #96 "Clean up and refactor the tests code"
Do it for https://github.com/StarcounterApps/Website/pull/92 after merging https://github.com/StarcounterApps/Website/pull/65

[2017-05-18 11:36] warpech opened #97 "It is not possible to blend main response and pinned content"
Even though the main response and the pinned content are inside the same named blending point in the Website app, they are not blendable, because they show up in different `starcounter-includes`.

To make everything blendable, this view should have a single `starcounter-include` in it: https://github.com/StarcounterApps/Website/blob/develop/src/WebsiteProvider/wwwroot/WebsiteProvider/viewmodels/We

[2017-05-18 11:40] warpech commented on #9
Fixed in #9

[2017-05-18 11:40] #9 closed

[2017-05-18 13:00] warpech opened #98 "Commit hook on removed pinned URL is missing"
Commit https://github.com/StarcounterApps/Website/commit/d9f05b6535c0c71afb30390a55d7f192939f8591 accidentally commented out the `BeforeDelete` hook on the class `WebMap`.

[2017-05-18 13:15] un-tone commented on #98
Not accidentaly. I purposely left this commit https://github.com/StarcounterApps/Website/commit/c6e858bde2143f6bae8f89df88c9ebbddc9abf67

[2017-05-18 13:18] un-tone commented on #98
There was 2 commits d9f05b6 and c6e858b. I've reverted only d9f05b6 because `BeforeDelete` commit hook works well

[2017-05-19 17:57] un-tone commented on #72
Fixed in https://github.com/StarcounterApps/Website/pull/65 (commits ae728c8 and 203d5a7).
Please review.

[2017-05-19 18:48] un-tone commented on #98
Closing since there is not an issue

[2017-05-19 18:48] #98 closed

[2017-05-19 18:49] un-tone commented on #96
Done in the PR https://github.com/StarcounterApps/Website/pull/65

[2017-05-26 11:08] un-tone commented on #72
Closing as done

[2017-05-26 11:08] #72 closed

[2017-05-26 11:09] un-tone commented on #96
Closing as done

[2017-05-26 11:09] #96 closed

[2017-05-26 11:10] un-tone commented on #58
Closing as done

[2017-05-26 11:10] #58 closed

[2017-05-30 11:59] warpech opened #100 "Website needs an icon that is displayed in Launchpad"
Unlike other apps (People, Images, Products), Website does not present at icon in the Launchpad.

The icon should point to `/website`.

Please choose an icon from https://thenounproject.com/ (we have a license) and add it to the Website app.

[2017-05-30 13:52] warpech opened #101 "Pinning rule is not unmapped correctly"
### Steps to reproduce

1. Start Website (branch `develop`), WebsiteProvider (branch `develop`), SignIn (branch `develop`)
2. Call `http://localhost:8080/website/resetdata` to load default mappings
3. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
4. Go to `http://localhost:8080/website/cms`
5. Sign in as admin user
6. Go to `http://localhost:8080/website/cms/pin

[2017-05-30 13:55] warpech opened #102 "Save button does not get enabled for a newly signed in user"
### Steps to reproduce

1. Start Website (branch `develop`), WebsiteProvider (branch `develop`), SignIn (branch `develop`)
2. Call `http://localhost:8080/website/resetdata` to load default mappings
3. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
4. Go to `http://localhost:8080/website/cms/surfaces`
5. Sign in as admin user
7. Change the row that says `DefaultTe

[2017-06-01 12:09] threezool commented on #100
#103 merged, closing issue.

[2017-06-01 12:09] #100 closed

[2017-06-01 12:53] warpech commented on #95
This is not reproducible with `develop` branches. New versions will be released soon

[2017-06-02 12:29] tomalec opened #105 "Cleanup wrapping"
It seems that Website does some magic build on top of the buggy fact we have used `imported-template` on root level https://github.com/StarcounterApps/Website/blob/develop/src/WebsiteProvider/ViewModels/WrapperPage.json.cs#L6-L8

    ///  WrapperPage needs to wrap WebTemplatePage, because Starcounter applies middleware
    ///  from the original request. The default middleware contains &lt;templat

[2017-06-05 06:54] warpech commented on #102
@bouguila could you please investigate this?

[2017-06-06 12:37] warpech commented on #105
Implemented in https://github.com/StarcounterApps/Website/pull/107

[2017-06-07 07:41] warpech opened #108 "WebsiteProvider does not start with Starcounter Release 2.3.0.6350"
@un-tone could you please investigate?

### Steps to reproduce

1. Call `build.bat` on master branch
2. Call `run.bat`

### Expected result

The app should start

### Actual result

There is an error:

[code]

### Technical information

##### Starcounter version 2.3.0.6350

##### Involved apps' version

StarcounterApps/Website@cdc197ec7f4ed86b1c0a0d597c505485b60bf833

### Screenshot

![2017-06-07

[2017-06-07 08:03] warpech opened #109 "Implement new UI"
Website becomes a key app but it has a very obsolete UI. I would like to discuss the UI on a meeting at 2017-06-14.

My inspiration for the new UI is Cloudflare's admin panel:

- https://youtu.be/HsqCB3K9IN8?t=24s
- https://youtu.be/51PXQMDfcFs?t=52s

Of course, in our case the front page does not select domain names but Website surfaces. Everything else happens in context of the selected surface.

[2017-06-07 08:07] un-tone commented on #108
The error message is `(SCERR13003): This handler has already been registered. GET /website/blender/surface/i/point/j on port 8080`. In the code there is such condition `if (!Handle.IsHandlerRegistered(uri, selfOnlyOptions))` before registering a handler. In 2.3.1 builds it works correctly, but in 2.3.0.6350 for some reason not.

[2017-06-07 08:23] warpech commented on #108
Thanks so much for the investigation.

@alemoi could you pls take a look? Anything we can do to fix in the Website app, or will it simply not work for 2.3.0.6350?

[2017-06-07 11:56] alemoi commented on #108
So the problem is that `Handle.IsHandlerRegistered` is not working for `2.3.0.6350` correct?

[2017-06-07 14:01] un-tone commented on #108
Right

[2017-06-07 14:22] alemoi commented on #108
What are the values of `uri` and `selfOnlyOptions` in `if (!Handle.IsHandlerRegistered(uri, selfOnlyOptions))`? Thanks.

[2017-06-07 14:28] un-tone commented on #108
[code]
[code]
`uri` is equal to `/website/blender/surface/i/point/j` and was generated in this code https://github.com/StarcounterApps/Website/blob/develop/src/WebsiteProvider/Helpers/MappingExtensions.cs#L24-L29

[2017-06-07 14:50] alemoi commented on #108
Thanks!

1. Strange that you are registering a handler for a specific URI `/website/blender/surface/i/point/j`. Is that correct? I would expect smth like `/website/blender/surface/{?}/point/{?}`

2. Try not to pass `selfOnlyOptions` to `IsHandlerRegistered`? Just some `new HandlerOptions()`

[2017-06-07 15:04] un-tone commented on #108
1. That is correct. We need to register such "empty" handlers for each "surface-section-uri" combination.
2. I'm getting the same error.

[2017-06-08 10:17] alemoi commented on #108
Can you please copy the list of registered URIs here, at the point before the check is made? From: http://127.0.0.1:8181/#/server/network

[2017-06-08 10:29] warpech commented on #108
@alemoi I guess the simplest way is to reproduce by yourself using the steps at https://github.com/StarcounterApps/Website/issues/108#issue-234119570. `run.bat` starts WebsiteProvide, which is the app that sets the handlers.

[2017-06-08 10:52] alemoi commented on #108
Sure, started doing that.
However, should I take the `develop` branch or `simpler-provider` ?
[code]
`develop` does not seem to have such.

[2017-06-08 12:39] warpech commented on #108
`develop` branch has these scripts for sure:

- https://github.com/StarcounterApps/Website/blob/develop/build.bat
- https://github.com/StarcounterApps/Website/blob/develop/run.bat

[2017-06-08 12:40] warpech commented on #108
I have changed the description to say `master` branch. Anyway, all branches have these scripts for sure. They were synced recently:

- https://github.com/StarcounterApps/Website/blob/master/build.bat
- https://github.com/StarcounterApps/Website/blob/master/run.bat

[2017-06-08 14:13] alemoi commented on #108
Sorry, I wasn't clear. I couldn't see the URI handler containing `/website/blender/surface` that is registered upon start up.

[2017-06-08 14:28] un-tone commented on #108
The URI is generated dynamically. Starcounter Administrator doesn't show mapped URIs with `SelfOnly = false` so to get the list I changed this property to `true`.

There are the following URIs which I got before the app throwed an exception:
![image](https://user-images.githubusercontent.com/1625378/26933583-9a5c89c6-4c6f-11e7-8c0b-23cdbe36849b.png)

The exception message:
[code]

[2017-06-08 16:06] warpech commented on #102
@bouguila any luck with this so far?

[2017-06-09 07:24] bouguila commented on #102
@warpech i was inspecting thouroughly, but had no success yet.

[2017-06-09 09:59] alemoi commented on #108
I found the reason. The format for `Handle.IsHandlerRegistered` is `method_space_uri`, which is ugly, i understand, need to change it to 2 parameters instead, method and URI. Here is the fixed code for now:
[code]

In 2.3.1 the handlers are automatically overwritten on same registration, so there is no error.

[2017-06-09 14:21] un-tone commented on #108
Thank you @alemoi!
I created PR https://github.com/StarcounterApps/Website/pull/111

[2017-06-10 21:01] alemoi commented on #108
As promised made this version of `IsHandlerRegistered` deprecated. Added another version: https://github.com/Starcounter/level1/commit/5bfe727126ce50901b44a722b8f9ef2abab8d24d

[2017-06-14 14:05] bouguila commented on #102
**Update:** When a user signs in, the RefreshData method (inside CmsSurfacesPage.json.cs) receives a Null Transaction, so the object Trn is set to Null also, thus the property IsDirty gets undefined.

[2017-06-15 10:25] warpech commented on #105
Merged

[2017-06-15 10:25] #105 closed

[2017-06-18 10:09] warpech commented on #101
@un-tone is this perhaps fixed by PR #111?

[2017-06-18 10:21] warpech commented on #48
We need the following kinds of the catching rules:

- URI path matches (this one already exists). Intended for the `path` fragment of the URI that starts after the domain name
- HTTP header matches. Intended for matching the value of such HTTP headers as: `host`, `user-agent`, etc

The rules specified for a single surface should be treaded as "AND" rules (not "OR").

[2017-06-18 10:22] warpech commented on #48
@bouguila could you please work on this? Recommended reviewer: @un-tone

[2017-06-18 10:25] warpech commented on #34
It turns out that the name "Website" has sticked to us and it is not that much inaccurate, so generally speaking I think we should keep it.

But, since we have the following apps in the blending suite:

- Website
- WebsiteProvider
- CompositionProvider
- CompositionEditor

I think that it makes huge sense to rename *Website* to *WebsiteEditor*

[2017-06-18 10:29] warpech commented on #12
Closing this issue. Launcher was moved to https://github.com/StarcounterAppsFreezer, meaning that it will not be maintained anymore. From now on, all our focus is on Website app.

[2017-06-18 10:29] #12 closed

[2017-06-19 15:35] un-tone commented on #101
Unmapping a rule is not implemented for rules changing, it works only for rules creating/deleting. Sorry that I haven't notified about it explicitly.

[2017-06-19 16:08] warpech commented on #47
Discussed today between me and @malx122, there are at least two use cases for workspaces:

1. They make it possible to immediately switch to a view that was seen before
2. They retain state (such as position of scrollbars)

@malx122 uses the `AutoRefreshBoundProperties == false`, so that the server does not observe and push changes for data bound to the inactive workspaces.

[2017-06-19 17:14] tomalec commented on #47
What about Workspace micro app? That would provide a view, that could be blended into root,main area, any area, could blend in other apps responses, to keep them in the DOM instead of redirecting and track the scroll position.

[2017-06-21 12:20] warpech opened #113 "Add predefined configs for surfaces"
When you press "Create" button in the surfaces list, it shows you options to create a new:

- empty surface
- surfce with one blending point
- topbar + main
- sidebar + main
- holy grail

Launcher is not needed.

Similarly to "new slide" templates in PowerPoint

<img width="969" alt="screen shot 2017-06-21 at 14 19 58" src="https://user-images.githubusercontent.com/566463/27383779-ba63fcdc-568c-11

[2017-06-21 12:23] warpech opened #114 "Rename "*Template" to "*Surface""
Rename files and static strings:

[code]

In other words, replace "Template" word with "Surface" for clearness.

[2017-06-21 12:36] warpech opened #115 "Separate "catch all" from Catching Rules"
"Catch all" right now is an empty URI in Catching Rules.

This makes it impossible to create a specific Catching Rule for URLs like: `http://starcounter.com`, because this indeed is literally an empty URI in our case.

"Catch all" should be a boolean property of Catching Rule.

[2017-06-21 12:40] warpech opened #116 "Allow disabling of stuff"
- disabling surfaces
- disabling catching rules
- disabling pinning rules

[2017-06-21 18:43] un-tone commented on #108
Great! I made changes for 2.3.1 version and created PR https://github.com/StarcounterApps/Website/pull/117

[2017-06-21 21:52] warpech commented on #102
Thanks @bouguila for the investigation. Since this app is now owned by @PatrykSzwer, maybe he has some luck in investigating this?

[2017-06-22 09:48] PatrykSzwer commented on #95
As far as I know It should be fixed right know. @andwah Please check and update.

[2017-06-22 09:50] PatrykSzwer commented on #88
Please provide more information about this, reproduction steps etc. And first of all, please check if It's still reproducible.

[2017-06-22 09:56] PatrykSzwer commented on #62
Could You please check if It's still happening and update this issue? And if It's still reproducible, could You provide some video or more details? Because I'm not sure what "flickering" u were writing about.

[2017-06-22 10:07] PatrykSzwer opened #118 "Roadmap"
This represents the Roadmap for Website app changes, from bug fixes to visual changes.

### Roadmap

1. [x] 1. Refactoring and initial changes
    1. [x] 1. ~~Rename the app "Website" to "WebsiteEditor #34~~
    2. [x] 2. ~~Rename "*Template" to "*Surface" #114~~
<p>

2. [x] 2. Investigation and fixing of discovered bugs
    1. [x] 1. ~~Save button does not get enabled for a newly signed in user.

[2017-06-22 11:31] warpech commented on #118
I think that #108 breaks compat with Starcounter 2.3.0. In my opinion this can be done after "3. Release of new, bug-free version and deployment at inside.starcounter.com"

[2017-06-22 11:33] warpech commented on #97
I think that #97 should not be worked on right now, because it is a lot of effort and little benefit right now.

[2017-06-22 11:36] warpech commented on #76
I believe that there is nothing specific in `WebsiteProvider.exe`, this is a problem between Avast and Starcounter. Closing this, as it is tracked in https://github.com/Starcounter/level1/issues/1939

[2017-06-22 11:36] #76 closed

[2017-06-22 11:39] warpech commented on #55
This is related to #62 and should be worked on together.

[2017-06-22 11:39] warpech commented on #62
This is related to #55 and should be worked on together.

[2017-06-22 11:58] PatrykSzwer commented on #118
Ok, sounds legit. I've changed the order.

[2017-06-22 11:59] warpech commented on #118
I have added priority labels to the issues. I think that #97 should not be worked on right now, because it is a lot of effort and little benefit right now. Pls move it to "6. Functional enhancements"

On the other hand, this should be prioritised: #48. Pls move it as the first thing in "6. Functional enhancements" or even make a special release directly after doing #48.

[2017-06-22 12:01] PatrykSzwer commented on #118
Great, I wanted to prioritize them too, but I wasn't sure about specific issues priorities. Thanks for that.

[2017-06-22 13:43] warpech commented on #14
As discussed earlier in this thread, this issue is really out of scope of WebsiteEditor/WebsiteProvider. It depends on the usage of `Blender.MapUri` within apps.

IMO there should be a way to disable maps created elsewhere (perhaps using `Blender.UnmapUri`). Should this be a feature of WebsiteEditor/WebsiteProvider or Starcounter Administrator? Let's discuss.

cc @alemoi

[2017-06-26 16:26] warpech opened #122 "Support groups of surfaces"
Right now WebsiteEditor/WebsiteProvider support "surfaces" as the topmost concept. Depending on the specificity, surfaces may correspond to real world's:

- web pages
- websites
- fragments of web pages

Problem is that when supporting multiple systems in the same database, there is a need to group related surfaces. For example, I might have few groups of surfaces:

- Website (public)
- Extranet (

[2017-06-26 17:13] warpech opened #123 "Implement Authorization library"
This app needs to implement the Authorization library to allow managing what users have rights to administer surfaces, etc.

[2017-06-27 08:02] PatrykSzwer commented on #114
Done in #119. Closing.

[2017-06-27 08:02] #114 closed

[2017-06-27 13:25] PatrykSzwer commented on #56
Closing since exception no longer occurs. Right now if static html path URI or any wrong uri is provided there is simply just no response for that and nothing is displayed.

Discussed with @joozek78

[2017-06-27 13:25] #56 closed

[2017-06-28 10:54] PatrykSzwer commented on #55
This issue is not reproducible anymore. After discussion with @un-tone we decided to close it.

[2017-06-28 10:54] #55 closed

[2017-06-28 10:54] PatrykSzwer commented on #62
This issue is not reproducible anymore. After discussion with @un-tone we decided to close it.

[2017-06-28 10:54] #62 closed

[2017-06-28 11:02] warpech opened #125 "Exception when unregistering handlers"
### Steps to reproduce

(I suppose these are the steps)

1. Run WebsiteEditor, WebsiteProvider, SampleWebsiteTheme
2. Stop WebsiteEditor, WebsiteProvider, SampleWebsiteTheme
3. Run WebsiteEditor, WebsiteProvider, SampleWebsiteTheme
4. Call `http://localhost:8080/website/resetdata` in your browser

### Expected result

Rules created by SampleWebsiteTheme should be unmapped.

### Actual result

I ge

[2017-07-04 10:04] bouguila commented on #34
closing as done.

[2017-07-04 10:04] #34 closed

[2017-07-04 13:48] PatrykSzwer commented on #101
Done in #121. Closing.

[2017-07-04 13:48] #101 closed

[2017-07-04 13:57] PatrykSzwer opened #126 "Selenium tests for adding, deleting and changing pinning rules."
Since https://github.com/StarcounterApps/Website/issues/101 is done we should implement tests that covers pinning rules functionality.

[2017-07-04 15:09] un-tone commented on #108
Current issue is resolved. Closing

[2017-07-04 15:09] #108 closed

[2017-07-04 18:22] un-tone commented on #125
As I understand the reason of the error is the fact that unmapping URI was registered through commit hook from "context" of the SampleWebsiteTheme app with `SelfOnly = true` option and it is not possible to unregister it from another app.
There is a way to fix it fast - https://github.com/StarcounterApps/Website/pull/127/files - in this way the `resetdata` operation works well without errors.
But

[2017-07-05 10:04] warpech commented on #118
#48 and #122 are needed before July 17th.

[2017-07-05 13:03] warpech commented on #125
Can you explain in more details? SampleWebsiteTheme does not map URIs, it only creates objects in the db. SampleWebsiteTheme is not present in the above stack trace. The commit hook is triggered from Website and catched in WebsiteProvider.

So for me it looks like everything you said is right, but it should be Website instead of SampleWebsiteTheme. Or?

[2017-07-05 13:06] warpech commented on #125
For me this looks like an error: https://github.com/StarcounterApps/Website/blob/abb16901f032bea08d7b889d7bb60e133b9c56f7/src/WebsiteProvider/Helpers/MappingExtensions.cs#L27-L28

Should be `/websiteprovider/`, not `/website/`.

[2017-07-06 12:42] un-tone commented on #125
Yes, I made mistake and was wrong in my last comment.

In this time I looked in the code of Level1 and found out that this error message "Can't unregister HTTP handler" with error code 13004 is thrown from network gateway module ([gateway.cpp:1695](https://github.com/Starcounter/level1/blob/v2.3/src/scnetworkgateway/OurSources/gateway.cpp#L1695)). Also I looked on the implementation of `Handle.Unr

[2017-07-06 12:44] un-tone commented on #125
@warpech Sure, it should be fixed. In the `develop` branch it have been changed to `/websiteeditor/`, but it is incorrect too.

[2017-07-06 14:52] warpech opened #128 "Pinning rule inserts response mapped in another surface"
### Steps to reproduce

1. Start WebsiteEditor, WebsiteProvider https://github.com/StarcounterApps/Website/commit/ca199025da05ef61b894223d45b470d4ae912f2f
2. Start Content https://github.com/StarcounterApps/Content/commit/927b812677475a351f29b03c496c9faea74b9bfd
3. Start SignIn https://github.com/StarcounterApps/SignIn/commit/ebe41c9856e97b887dfa2b67c9271e78ff2d36e6
4. Reset website rules by going

[2017-07-06 14:58] warpech commented on #95
Closing as not reproducible anymore

[2017-07-06 14:58] #95 closed

[2017-07-06 15:03] warpech commented on #109
@PatrykSzwer is working on designing the new UI for the WebsiteEditor. It can be previewed here: https://preview.uxpin.com/5fa3f26d8d1b7794234e9d1cf0f421ffd1f2ec38. To implement this, we will need first to split the view-models to the desired ones (but keep them ugly), then do the HTML, creation of surface groups. It needs to be done by next week, so we can start working on the enhancements.

[2017-07-06 18:44] Mihaiii commented on #128
Had a look into this to celebrate a proper debugging session after a log time, but now I see that un-tone self-assigned and I'll stop (this and the fact that I still don't really know the technical details about blending). So to not feel like I lost some time for nothing:
- at least all the Pin URIs that start with "content/dynamic/" from are called.

[2017-07-06 18:46] Mihaiii commented on #128
Had a look into this to celebrate a proper debugging session after a log time, but now I see that un-tone self-assigned and I'll stop (this and the fact that I still don't really know the technical details about blending). So to not feel like I lost some time for nothing:

- at least all the Pin URIs that start with `content/dynamic/` from are called.
- both DefaultSurface and HolyGrailSurface hav

[2017-07-07 08:36] un-tone commented on #125
@alemoi could you please take a look at this

[2017-07-07 16:13] alemoi commented on #125
Thanks for finding this! I have added a check for self-only handlers now when unregistering. Should be available in the coming nightly 2.3 and develop.

[2017-07-07 18:29] un-tone commented on #128
There is an unexpected behavior from the Blender.
For both cases with DefaultSurface and HolyGraleSurface are used different blending tokens But it doesn't matter for some reason.

In debug mode before calling `Self.GET(uri)` where `uri` equals to `/WebsiteEditor/blender/surface/B6/point/B7` I checked Blender mappings:
[code]
Here `websiteeditor%B6%B7` is the blending token for case with DefaultSu

[2017-07-10 09:39] un-tone opened #130 "Change namespaces to be compliant with folder structure"
There is a need to change namespaces in the app solution to be compliant with folder structure (except DB classes).
The app becomes bigger and often I see in PRs new classes with incorrect for current approach namespaces. To avoid such fixes I assume it's time to start use the most correct approach of namespace using.

[2017-07-10 14:06] warpech opened #131 "Add an example of a responsive surface"
Most of the production surfaces will want to implement Responsive Web Design, which most of the time requires two things:

1. `<meta name="viewport" content="width=device-width, initial-scale=1">`
2. CSS media queries

As http://blog.javierusobiaga.com/stop-using-the-viewport-tag-until-you-know-ho nicely puts it, (1) only makes sense with (2) - and vice versa. We cannot do that on the middleware l

[2017-07-10 15:07] alemoi commented on #128
Its like this URI "/WebsiteEditor/blender/surface/X/point/Y" is blended with "/signin/user" which is correspondingly blended with:
![image](https://user-images.githubusercontent.com/208134/28024466-14527a58-6591-11e7-81f5-1258421f7fe4.png)

So the last blended URIs are called in a chained recursive manner (even if they are blended with different tokens). It was the idea for blender originally, to

[2017-07-10 15:10] un-tone commented on #128
Agree. The proposed behavior is what I exactly expected.

[2017-07-10 15:21] alemoi commented on #128
In this case we abandon the original idea of "chained" or "recursive" blending. Is that ok with @warpech and @miyconst ?

[2017-07-10 15:25] alemoi commented on #128
As i said, I already pushed this fix a while ago, but reverted it, because of no use. Here is the fix: https://github.com/Starcounter/level1/commit/c04b963252bc001c6bf9bc50e55a7e5328f09665

[2017-07-10 17:29] alemoi commented on #128
In any case I just have pushed the fix into 2.3 and develop. @un-tone you can test tomorrow how its working out for you! Thanks!

[2017-07-11 08:21] un-tone commented on #125
Checked in SC 2.3.1.6739. It works without errors. Thanks @alemoi !
Closing as fixed.

[2017-07-11 08:21] #125 closed

[2017-07-11 08:31] un-tone commented on #128
Thanks @alemoi ! I tested and it works well. Furthermore, it fixed this issue https://github.com/StarcounterApps/SignIn/issues/115 too.
Closing as done...

[2017-07-11 08:31] #128 closed

[2017-07-11 09:56] un-tone commented on #14
I guess with the currrent WebsiteProvider implementation and last changes in the platform (https://github.com/StarcounterApps/Website/issues/128), the problem is gone.

[2017-07-11 13:36] warpech opened #132 "Post review for PR #129"
Regarding the line:

[code]

Please use lowercase URIs: https://starcounter.gitbooks.io/guidelines/content/uris.html

------

Regarding the file `src/WebsiteEditor/wwwroot/WebsiteEditor/css/websiteeditor.css`:

In BEM, there cannot be Element classes like:

[code]

without a Block class `website-surface-groups`.

Better solution is to have two Blocks here:

[code]

[2017-07-11 13:44] warpech opened #133 "Typos in README.md and CONTRIBUTING.md"
In README.md, there is:

Should be:

# WebsiteEditor and WebsiteProvider
Suite of two apps allowing to create surfaces with blending points and attach the result from different applications in the blending points.

Note: WebsiteProvider ignores responses other than of type `Json` with a session.

-----

In CONTRIBUTING.md, `Websiteeditor.sln` should be changed to `Website.sln`.

-----

WebsiteEdit

[2017-07-11 13:56] PatrykSzwer commented on #132
I'll include those changes in next PR which will combine pinning rules with blending points tabs.

[2017-07-12 12:22] warpech commented on #14
I agree. I have moved the proposal from my last comment to a separate issue: https://github.com/Starcounter/RebelsLounge/issues/147

[2017-07-12 12:22] #14 closed

[2017-07-12 13:41] alemoi commented on #128
Updated the documentation on the matter.

[2017-07-12 13:50] warpech commented on #128
Could you pls paste a link here?

[2017-07-12 14:30] alemoi commented on #128
Its no big deal, I just replaced info about chained calls into a new sentence: https://docs.starcounter.io/v/RC/guides/blending/blending/

[2017-07-12 15:25] warpech commented on #128
Link to the commit: https://github.com/Starcounter/Docs/commit/c727454b418871cfabf005cf68ca727bb909fc2a

[2017-07-13 12:07] warpech commented on #88
Closing as not reproducible anymore

[2017-07-13 12:07] #88 closed

[2017-07-13 13:14] warpech opened #134 "Builds are failing on TeamCity"
Builds are failing since more than a month on TeamCity. I will take a look.

[2017-07-13 13:36] warpech commented on #134
The project on the TeamCity was configured to search for the "Website" app, though the app was recently renamed to "WebsiteEditor".

It means that the PR with renaming to "WebsiteEditor" (https://github.com/StarcounterApps/Website/pull/112) was merged to develop despite the fact that TeamCity reported errors. Please never merge changes that do not build with TeamCity.

[2017-07-13 13:43] warpech commented on #134
Fix now. Please report in future when the builds fail.

cc @un-tone, @PatrykSzwer, @bouguila

Thanks!

[2017-07-13 13:43] #134 closed

[2017-07-17 16:26] un-tone commented on #48
Created PRs https://github.com/StarcounterApps/Website/pull/136 and https://github.com/StarcounterApps/Simplified/pull/62

[2017-07-18 10:22] warpech commented on #115
Maybe we just need to keep catch-all rules on the Catching Rules page, because I want to specify the following rule:

- catch any URL that has **subdomain.mydomain.com** in the `Host` header

[2017-07-18 13:28] un-tone opened #139 "Error when saving a pinning rule with same properties"
### Steps to reproduce

1. Start WebsiteEditor, WebsiteProvider and SignIn from `develop` branch.
2. Go to `http://localhost:8080/websiteeditor/resetdata` to reset WebsiteEditor data.
3. Go to "Pinning rules" page for Default surface. There is one pinning rule.
4. Add to the rules another one with the same values and press "Save".

### Expected result

The pinning rules saved without errors

### A

[2017-07-18 13:42] un-tone opened #140 "Deleted pinning rules get unmapped before commiting transaction"
Important: the similar issues we have with deleting surfaces and blending points - should be fixed too here.

### Steps to reproduce

1. Start WebsiteEditor, WebsiteProvider and SignIn from `develop` branch.
2. Go to `http://localhost:8080/websiteeditor/resetdata` to reset WebsiteEditor data.
3. Go to "Pinning rules" page for Default surface. There is one pinning rule with URL `/signin/user`.
4. D

[2017-07-18 14:31] warpech opened #141 "Move static files from WebsiteEditor to WebsiteProvider"
### Steps to reproduce

1. Start KitchenSink (`a0c8513`), WebsiteEditor, WebsiteProvider (d7b875f)
2. Stop WebsiteEditor
3. Go to `localhost:8080/kitchensink`

### Expected result

You should see KitchenSink wrapped in the DefaultSurface

### Actual result

You get an exception because the static files are missing.

The static files should be moved from WebsiteEditor to WebsiteProvider.

[code]
##

[2017-07-18 14:34] Mihaiii commented on #141
Isn't this because `SampleWebsieTheme` changes values in the database?

[2017-07-18 14:36] warpech commented on #141
It is reproducible without `SampleWebsiteTheme`. I have corrected the error and the screenshot.

[2017-07-24 13:39] PatrykSzwer commented on #132
Classes are already changed (and will be change even more in #138). Regarding the URIs in handlers, take a look on commit: 22a9c4ac4c1e11828446e9484dedd44d1ef686f8
Those will be merged in PR: #138

[2017-07-25 07:23] PatrykSzwer commented on #122
Since #138 is done, closing.

[2017-07-25 07:23] #122 closed

[2017-07-25 07:24] PatrykSzwer commented on #109
Done, closing.

[2017-07-25 07:24] #109 closed

[2017-07-25 07:43] PatrykSzwer commented on #132
Changes are merged, please take a look on them and if everything looks ok, please close this issue. Otherwise I'll create separate PR.

[2017-07-25 07:52] PatrykSzwer commented on #102
Fixed in #124. Closing.

[2017-07-25 07:52] #102 closed

[2017-07-25 08:17] un-tone commented on #48
Closing as done

[2017-07-25 08:17] #48 closed

[2017-07-25 11:31] warpech commented on #132
Still there are two Elements without Block, but they come from an earlier change:

- `.website-top-menu-item__surface-name`
- `.website-top-menu-item__link`

[2017-07-25 11:55] PatrykSzwer commented on #132
I've created PR for that #146

[2017-07-25 13:46] PatrykSzwer commented on #133
PR for that: #148

[2017-07-27 10:14] PatrykSzwer commented on #141
Done in #145. Closing.

[2017-07-27 10:14] #141 closed

[2017-07-27 10:14] PatrykSzwer commented on #133
Done, closing.

[2017-07-27 10:14] #133 closed

[2017-07-27 10:53] PatrykSzwer commented on #132
Final touches done in #146. Closing.

[2017-07-27 10:53] #132 closed

[2017-07-27 11:39] PatrykSzwer opened #149 "Improve way of changing surface group for surface."
Right now group in specific surface can be changed by editing it in general settings of the surface. It's working solution, but not as intuitive as It could be. I suggest to add drag and drop functionality (probably with juicy-draggable) in Surface groups view, to make possible dragging surface from one group and dropping it in another.

[2017-07-27 12:40] warpech commented on #130
This adheres to point 20 in https://starcounter.gitbooks.io/guidelines/content/coding_style/csharp_code_formatting.html

[2017-07-27 12:52] warpech commented on #123
Reference implementations:

- https://github.com/StarcounterApps/Images
- https://github.com/StarcounterApps/Calendar

@un-tone will add comments to the Images app and then try to write the article for the Cookbook. The article will be similar to https://docs.starcounter.io/guides/web-apps/acceptance-testing-with-selenium/ (btw. that article should be moved to Cookbook).

[2017-07-27 14:00] warpech commented on #113
We discussed today that this should be presented as a modal on the surface groups page.

[2017-07-27 14:11] warpech commented on #113
When you create a new surface out of such template, it contains:

- a set number of blending points
- 0 pinning rules
- 0 catching rules

That makes a difference from the default data, which also creates surfaces out of these templates, but also adds sample pinning rules and catching rules.

[2017-07-27 14:15] warpech opened #150 "Implement new UI for catching rules"
<img width="726" alt="screen shot 2017-07-27 at 16 40 32" src="https://user-images.githubusercontent.com/566463/28676203-551ca8e0-72ea-11e7-9950-7ef7502876e7.png">

[2017-07-27 14:15] warpech commented on #115
This is dropped in favor of https://github.com/StarcounterApps/Website/issues/150

[2017-07-27 14:15] #115 closed

[2017-07-27 22:05] un-tone commented on #140
Created PR https://github.com/StarcounterApps/Website/pull/151

[2017-07-27 22:05] un-tone commented on #126
Created PR https://github.com/StarcounterApps/Website/pull/151

[2017-07-28 09:50] PatrykSzwer commented on #118
As we discussed on last meeting with @warpech and @un-tone I've created new, test milestone with current issues and features that We want to be done for the next release.
Milestone can be found here: https://github.com/StarcounterApps/Website/milestone/1

[2017-07-28 11:19] PatrykSzwer opened #152 "Change readme due to latest UI changes."
Readme should be changed to be accurate with current UI. Tabs should be re-described.

[2017-07-28 15:49] Mihaiii opened #154 "Broken integration with Content app"
### Steps to reproduce
1. Run in debugging mode [Content app](https://github.com/StarcounterApps/Content) at https://github.com/StarcounterApps/Content/pull/92/commits/89c69d359f48dda2d4beb3768c4e7dcf71ef9c2d .
2. Run Website at  77cbcd865ab1891e26b265426bf954123e57ee35 .
3. Run Sign In at https://github.com/StarcounterApps/SignIn/commit/bb24f80f31f59a80b925d4b382edaa133f0d9cb9
4. Put a breakpoint

[2017-07-31 07:50] un-tone commented on #154
I'll check it

[2017-07-31 08:25] un-tone commented on #140
Closing as fixed

[2017-07-31 08:25] #140 closed

[2017-07-31 08:26] un-tone commented on #126
Closing as done

[2017-07-31 08:26] #126 closed

[2017-07-31 08:27] PatrykSzwer commented on #130
Closing as done.

[2017-07-31 08:27] #130 closed

[2017-07-31 09:00] un-tone commented on #154
I see the following case:
 - Content app has a handler for `/content/dynamic/{?}` URI which accept `/content/dynamic/something` requests.
 - Blender mapped this URI correctly:
[code]
Website calls `/websiteprovider/blender/surface/y/point/z` URI to get content for "TopBar".

-----

Blender expects `/content/dynamic/{?}` to be mapped -- it cannot blend just `/content/dynamic/something` since this U

[2017-07-31 09:35] alemoi commented on #154
@un-tone I didn't really get this one. So its a concrete URI that is mapped not a handler template?

[2017-07-31 09:52] un-tone commented on #154
Yes. I will try to detail. We have:

- Registered handler:
[code]

- Mapped URIs with `websiteprovider%y%z` token:
  - `/content/dynamic/something`
  - `/websiteprovider/blender/surface/y/point/z`

- Website calls `Self.GET("/websiteprovider/blender/surface/y/point/z")`

In this case we want that `/content/dynamic/{?}` handler with `something` parameter will be called.

[2017-07-31 13:21] alemoi commented on #154
Thank you! Now I understand the question. Blending is done on handlers, so to blend a certain URI, you should do a blender on handler `/content/dynamic/{?}`, check needed parameters in the "from" converter and return non-null string parameters. From documentation (https://docs.starcounter.io/guides/blending/blending/):
[code]

[2017-07-31 14:00] un-tone commented on #154
It is definitely a good feature, but it doesn't suit for this case since the Website app can't know is there registered handler for this URI `/content/dynamic/something` or this one `/content/dynamic/{?}` or maybe even this `/content/{?}/{?}` when mapping with `Blender.MapUri("/content/dynamic/something", "websiteprovider%y%z");`.
It would be helpful to have a method like `Handler.GetHandlerInfo(s

[2017-07-31 16:33] alemoi commented on #154
Sure! I'm working on this one atm: https://github.com/Starcounter/Home/issues/99

[2017-07-31 16:58] un-tone commented on #154
It's great! Would be really useful.
But now I think it will not help us much in case when Website is started first and `/content/dynamic/{?}` is not registered yet. So there should be another way. I think the best one currently is "to wrap such custom URIs callings into another dynamically created one" as I wrote above.

[2017-08-01 02:11] Mihaiii opened #156 "Error when running Launchpad after Website"
This might make sense from the developer's point of view, but it won't make sense for the end user.
Feel free to close if it's not an "issue" (whoever you are).

### Steps to reproduce
1. Run https://github.com/StarcounterApps/Website/commit/f2a974a9ce1029e9efb40121970704778cfbdd82 (current latest version on `develop`)
2. Run https://github.com/StarcounterApps/Launchpad/commit/e9345f42bc0431daf2ee

[2017-08-01 08:53] un-tone commented on #156
It is hard to understand what is happening when looking from applications level.
@alemoi could you please take a look on this issue?

[2017-08-01 10:25] alemoi commented on #154
I'm now working on the solution to support blending of concrete URIs, not only handlers as it is now. Hope this will ultimately solve your problem @un-tone

[2017-08-01 16:35] Mihaiii commented on #156
Afaik when an apps starts, every other app that was already running restrats and I guess there's a specific order.

There used to be https://github.com/StarcounterAppsFreezer/Launcher , but now it's deprecated. Launchpad app took it's place.

[2017-08-01 16:39] un-tone commented on #156
As I know for Launcher order of apps starting does not affect

[2017-08-01 16:56] Mihaiii commented on #156
Hmm, just tested it now and it seems that not the case (anymore?).
My bad.

[2017-08-01 17:03] alemoi commented on #154
Would it solve the problem if you create another handler `Handle.GET("/content/predefined/dynamic/something") {
Self.GET("/content/dynamic/something");
}` that is mapped to needed token? So by basically defining extra handler.

[2017-08-01 18:28] un-tone commented on #154
Yes, I think so, and that is what I proposed above :smiley:

[2017-08-02 09:51] un-tone commented on #139
Created PR https://github.com/StarcounterApps/Website/pull/158

[2017-08-02 23:57] alemoi commented on #154
@un-tone I have a build for you, if you want to test the ability to blend specific URIs: http://downloads.starcounter.com/download/Starcounter/Custom/2.3.1.6887

There are also some API changes (renames) and additions: https://github.com/Starcounter/level1/commit/e07502665a81844a587ab9a4981c11e1ca7dc02f

[2017-08-03 15:45] un-tone commented on #97
Created PR https://github.com/StarcounterApps/Website/pull/161 for this issue

[2017-08-04 13:06] un-tone commented on #154
I checked the case with the custom SC build. It still doesn't call the specific URI (`/content/dynamic/something`). @alemoi, some clues?

The API changes and additions looks good for me 👍

[2017-08-04 13:43] PatrykSzwer commented on #150
Done in #159 . Closing.

[2017-08-04 13:43] #150 closed

[2017-08-04 14:18] alemoi commented on #154
Can you please paste the code that does registration of this specific URI with Blender?

[2017-08-04 16:30] warpech opened #163 "Wrong generated catching rule"
What is

[code]

Should be:

[code]

in https://github.com/StarcounterApps/Website/blob/develop/src/WebsiteEditor/Helpers/DataHelper.cs#L107

----

I assume that `/websiteprovider/help?topic=surfaces` in that file should also be changed to `websiteeditor`.

[2017-08-04 16:56] warpech opened #164 "Surfaces generated in SampleWebsiteTheme don't show up"
### Steps to reproduce

1. Start WebsiteEditor, WebsiteProvider and SignIn from `develop` branch.
2. Go to `http://localhost:8080/websiteeditor/resetdata` to reset WebsiteEditor data.
3. Start SampleWebsiteTheme
4. Go to `http://localhost:8080/WebsiteEditor`

### Expected result

The surfaces from SampleWebsiteTheme should show up on the surface groups page in WebsiteEditor.

### Actual result

Th

[2017-08-07 08:25] PatrykSzwer commented on #163
Created PR for that: #165

[2017-08-07 08:35] PatrykSzwer commented on #164
It's more a SampleWebsiteTheme issue, since It's not assigning surface group to new surfaces, but I'll fix it in website anyway. We were discussing with @un-tone about correctness of solution where unassigned group is still a group, not meant by empty entry there. This issue proves that we need to change it on that way.

[2017-08-07 10:15] un-tone commented on #154
[code]

[2017-08-07 10:30] PatrykSzwer commented on #164
Created PR related to this: #166.

[2017-08-07 11:04] alemoi commented on #154
Thanks! And the reproduction scenario is exactly the same as on very top?

[2017-08-07 11:33] un-tone commented on #154
@alemoi yes

[2017-08-07 13:55] PatrykSzwer commented on #123
Auth library was implemented in #162 . Closing.

[2017-08-07 13:55] #123 closed

[2017-08-07 13:56] un-tone commented on #139
Closing as done

[2017-08-07 13:56] #139 closed

[2017-08-07 15:31] warpech commented on #164
That's a general pitfall with Starcounter Apps that use a shared data model - you cannot be sure that the data model is used like you intended.

RDBMS have the same problem - there might be many apps using the same db tables and it is not granted that all of the apps will follow exactly the same conventions. If it is possible to create incomplete relations, you have to live with incomplete relatio

[2017-08-07 15:52] un-tone commented on #123
Unfortunately it seems like these changes breaks refreshing page after logging in:
![image](https://user-images.githubusercontent.com/1625378/29034603-7d4dcbea-7ba1-11e7-8cf3-146522d4356f.png)
@PatrykSzwer could you please check it?

[2017-08-07 16:27] un-tone commented on #154
### Prerequisites

- Clean SC database
- [SC 2.3.1.6892 version](http://downloads.starcounter.com/download/Starcounter/Custom/2.3.1.6892)

### Steps to reproduce

1. Run **Content** app from `develop` branch (https://github.com/StarcounterApps/Content/commit/5407625349274b39d81bf5c5e68b5d1cdf8b27c5).
1. Run **WebsiteEditor** and **WebsiteProvider** apps from `updated-blender-api` branch (a6a612310

[2017-08-07 16:46] Mihaiii commented on #154
I tried it with that SC version and those checkouts and it doesn't hit the breakpoint. :(

[2017-08-07 16:50] Mihaiii commented on #154
...and now it works. Let me get a scenario.

[2017-08-07 16:53] Mihaiii commented on #154
All I know for now is that I tried to change the `order` from `0` to `2`, I got the following error (see pic), refreshed the page, and at refresh it hit the breakpoint.

Will try it all over from the beginning.
<img width="960" alt="website" src="https://user-images.githubusercontent.com/8951553/29036913-bf4f6ddc-7ba1-11e7-8b70-a6ea8f85905f.png">

[2017-08-07 16:57] un-tone commented on #154
@Mihaiii There is some breaking changes in Blender for Website app in this custom SC build. So please don't play with changing pinning rules for now :smile:. I've already reported about this issue.

[2017-08-07 16:58] Mihaiii commented on #154
I wasn't about to make a new issue :))))

[2017-08-07 17:03] Mihaiii commented on #154
It will take more than expecting to try it over. Assertation failed, VS not responding etc :))))

<img width="359" alt="assertationfailed" src="https://user-images.githubusercontent.com/8951553/29037229-02be7ec2-7ba3-11e7-8977-af17683f1725.png">

[2017-08-07 17:12] Mihaiii commented on #154
@un-tone Could you please stop all your apps and rerun them? (with `/content/dynamic/something` already being in the db)

[2017-08-07 17:18] Mihaiii commented on #154
Sorry, not all of them. Just restart Content App.

[2017-08-07 17:21] un-tone commented on #154
Yes, I see, in this way it works. I'll investigate it. Thanks!

[2017-08-07 17:22] Mihaiii commented on #154
If I start Content app first, it doesn't work. If I start I last, it works.
No problem. Let me know if I can do anything else!

[2017-08-08 08:10] PatrykSzwer commented on #164
Yes, that issue showed me exactly that in a practice way.

[2017-08-08 08:13] PatrykSzwer commented on #164
Done in #166. Closing.

[2017-08-08 08:13] #164 closed

[2017-08-08 08:14] PatrykSzwer commented on #123
I'll check it and create new PR for this.

[2017-08-08 11:31] un-tone commented on #154
The issue with changing of pinning rules is fixed in the last RC SC build.

[2017-08-08 12:12] un-tone commented on #154
I refreshed the steps https://github.com/StarcounterApps/Website/issues/154#issuecomment-320712188.

There are 2 cases (order of apps starting does matter):

1. Described above in the steps:

[code]

2. When a specific URI is already mapped by WebsiteProvider and Content app is started after WebsiteProvider:

[code]

-----

So we can see that `HandlerUri` is not initialized in the issue case. Plea

[2017-08-08 13:41] un-tone commented on #156
Currently I can't reproduce this bug.
@Mihaiii could you please check this bug with last versions of apps from `develop` in last RC SC build 2.3.1.6903

[2017-08-08 14:29] PatrykSzwer commented on #118
Created new milestone based on current issues: https://github.com/StarcounterApps/Website/milestone/2

[2017-08-08 14:51] Mihaiii commented on #156
I can't reproduce it either.

Closing as no longer reproducible on latest RC.

[2017-08-08 14:51] #156 closed

[2017-08-09 13:18] PatrykSzwer commented on #163
Closing as done.

[2017-08-09 13:18] #163 closed

[2017-08-09 13:49] tomalec opened #170 "Paper-collapse-item is installed at wrong path"
### Steps to reproduce

Go to https://github.com/StarcounterApps/Website/tree/develop/src/WebsiteEditor/wwwroot

### Expected result
It should contain app own static files, and `/sys` folder with dependencies.

### Actual result
There is also
`paper-collapse-item`

### Technical information

##### Starcounter version  n/a

##### Involved apps' version

 - StarcounterSamples/Website@b150930c0b40ad3

[2017-08-11 08:02] un-tone commented on #154
ping @alemoi

[2017-08-13 00:58] alemoi commented on #154
Gracias señor @un-tone! Very nice reproduction description. The issue is fixed, please verify. In latest nightly.

[2017-08-14 08:09] PatrykSzwer commented on #170
Closing as done.

[2017-08-14 08:09] #170 closed

[2017-08-15 08:24] un-tone commented on #154
It works perfect! Thank you @alemoi

[2017-08-15 08:24] #154 closed

[2017-08-15 12:11] Mihaiii opened #175 "Error at refresh"
1. Delete database
2. Run SignIn app @ https://github.com/StarcounterApps/SignIn/commit/a46d297a1393b64a2002e8c9ed8da177c6a748a4 (current latest version on `develop`)
3. Run Website app @ https://github.com/StarcounterApps/Website/commit/ac1b85133e67f8da187cb2767d83d59272e4d2f6 (current latest version on `develop`)
4. Go to `http://localhost:8080/signin/generateadminuser`
5. Go to `http://localhos

[2017-08-15 13:23] PatrykSzwer opened #176 "Starcounter.DbException - ScErrReadOnlyTransaction"
### Steps to reproduce
1. Reset data.
2. Click on DefaultSurface
(If error didn't appear, go back to SurfaceGroups and click DefaultSurface again.)
### Expected result
No errors.
### Actual result
Error with connection lost is showing up:
![image](https://user-images.githubusercontent.com/25042256/29317587-f0d3002c-81cc-11e7-96b7-534b0f6cc197.png)

##### Starcounter version 2.3.1.6924

As We alrea

[2017-08-15 15:58] un-tone opened #177 "Getting "Can not find referenced Html file" error"
### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch
1. Run **SignIn** app from `develop` branch
1. If user is not created go to <http://localhost:8080/signin/generateadminuser>
1. Go to <http://localhost:8080/signin/signinuser> and log in
1. Go to <http://localhost:8080/websiteeditor>

### Expected result

The requested page is loaded.

### Actual re

[2017-08-15 23:53] Mihaiii commented on #175
Closing as is another issue ( #177 ) was open after it and it seems that is the same one.

[2017-08-15 23:53] #175 closed

[2017-08-17 16:58] un-tone commented on #177
The issue is in calling of the following code from `HtmlFromJsonProvider.ProvideFromFilePath<T>` method:
[code]
There is important moment, that when you at first time go to `http://localhost:8080/signin/signinuser` the `Self.GET` calling works well. But for some reason it returns `null` when you go to `http://localhost:8080/WebsiteEditor`.
In some undetermined cases it works in opposite: you go to

[2017-08-18 07:13] chrhol commented on #177
I have a couple of other tasks I need to finish first and a planning meeting later today. I hope to have time today, but in worst case I wont have time to look at this and the other website issue until after the weekend.

[2017-08-21 09:05] threezool opened #180 "Starting apps before WebsiteProvider cause a exception"
### Steps to reproduce
Start the apps from AutoAuditSuite Repo (Use dev-bransch but exclude the CreditSafe Project) from Visual Studio and let dem boot up, add SignIn, LaunchPad and WebsiteEditor. All should work fine upp untill now.

Then add the WebsiteProvider and a exception will occure.

If i instead reverse the order and star all the other apps and then the apps from AutoAuditSuite last it b

[2017-08-21 14:53] chrhol commented on #177
Found the cause I think. A fix is pushed and will be included in the next nightly build.

[2017-08-22 08:32] un-tone commented on #177
The issue is fixed. Thanks @chrhol!

[2017-08-22 11:53] un-tone commented on #176
Part of discussion is here https://github.com/StarcounterApps/Website/pull/178. I still have not found a reason of the issue. I already don't have time to do it. But I found out that this https://github.com/StarcounterApps/Website/pull/161 implementation works well without that bug. So I have to ask @chrhol to escalate that #161 issue.

[2017-08-22 12:00] un-tone commented on #176
After changes in SC done for https://github.com/StarcounterApps/Website/issues/177 the behaviour was changed a little. But it is still reproducible if you will got catching rules of SidebarSurface and uncheck "Nestable" checkbox for the rule.

[2017-08-22 12:02] un-tone commented on #177
Closing the issue as fixed.
Be aware that #176 and #161 are related to this issue.

[2017-08-22 12:02] #177 closed

[2017-08-22 12:21] PatrykSzwer commented on #180
I've tried to reproduce this with newest versions of develop branches and SC version 2.3.1.7034. No results, seems unreproducable. If You manage to reproduce it still, please provide more detailed steps to do it. If not, please close the issue.

[2017-08-23 07:31] threezool commented on #180
Looks like the issue has been solved in the last SC version, closing.

[2017-08-23 07:31] #180 closed

[2017-08-23 09:49] PatrykSzwer commented on #131
Done, closing.

[2017-08-23 09:49] #131 closed

[2017-08-23 12:25] atifwaqar commented on #141
I still have the issue, any idea what am I doing wrong here?

![image](https://user-images.githubusercontent.com/4388707/29615604-d67e2740-880e-11e7-9d45-46bdde9b717c.png)

[2017-08-23 13:08] atifwaqar commented on #141
@PatrykSzwer  @un-tone

[2017-08-23 13:44] un-tone commented on #141
That file is located in `/websiteprovider/surfaces/DefaultSurface.html` path. You have to update surfaces' URIs

[2017-08-23 13:46] un-tone commented on #141
@PatrykSzwer maybe you have ready steps how to do update the URIs fast?

[2017-08-23 13:48] PatrykSzwer commented on #141
We currently don't have any quicker way than just do `/resetdata` or manually changing that in DB.

[2017-08-25 14:51] un-tone commented on #116
Closing as done.

[2017-08-25 14:51] #116 closed

[2017-08-25 17:22] un-tone commented on #176
I checked the issue in #161 with last changes. Unfortunately that changes does not fix the issue, maybe I missed something last time.

[2017-08-25 17:36] un-tone commented on #176
### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch
1. Run **SignIn** app from `develop` branch
1. If a user is not created go to <http://localhost:8080/signin/generateadminuser>
1. Go to <http://localhost:8080/signin/signinuser> and log in
1. Go to <http://localhost:8080/websiteeditor>
1. Go to `SidebarSurface` page (click on the link)

### Expected

[2017-08-25 17:44] un-tone commented on #176
I refreshed the steps above. I can't catch the reason why in this case it throws such exception. I already have no idea how to investigate it further.
@chrhol could you please take a look at this case and get me any clues? Thanks in advance.

[2017-08-27 13:58] un-tone commented on #47
AFAIK a work on this issue was started (and maybe finished) but I can't find a branch with that code changes. I wanted to check it and try with last other changes in WebsiteProvider app.

[2017-08-29 09:48] PatrykSzwer opened #184 "Adding surface to group with same name as other one"
### Steps to reproduce
1. Create 2 groups with same names.
2. Add surface to one of them.
### Expected result
Surface in one group is created.
### Actual result
Surface is created in both groups.

[2017-08-29 11:02] #184 closed

[2017-08-29 11:03] PatrykSzwer commented on #184
Done, closing.

[2017-08-29 13:59] un-tone commented on #97
Closing as done

[2017-08-29 13:59] #97 closed

[2017-08-29 16:40] chrhol commented on #176
I started looking into this but did not have enough time to finish.

I have to admit that trying to debug the code presented me with some problems with different middlewares making each step kind of obfuscated.

It's possible I found something that doesn't work as intended but I'm not sure yet. Need to continue tomorrow

[2017-08-30 11:50] chrhol commented on #176
I think I found the problem (finally). The attached transaction is set to null in a certain place when a viewmodel is removed (internally) from what the session keeps track of, and then at a later stage the same viewmodel is readded, but of course the transaction is gone.

I am not really sure why the transaction is set to null. Commenting out that line seems to work fine, but there should be some

[2017-08-30 12:39] chrhol commented on #176
So apparently there was a fix for a crash (https://github.com/Starcounter/level1/issues/3525 for those that still can see level1). Not sure how to solve this yet.

[2017-09-01 09:25] PatrykSzwer commented on #176
Any updates with this?

[2017-09-04 13:06] atifwaqar commented on #141
Hi guys,
Sorry I totally forgot to follow up on this. Mujahid helped me fix this issue, we just had to copy paste a folder on the path `\Website\src\WebsiteEditor\wwwroot\WebsiteEditor\surfaces` with following html files.

![image](https://user-images.githubusercontent.com/4388707/30027786-aa8049e8-9182-11e7-95c6-268fbc94636e.png)

[2017-09-04 14:17] un-tone commented on #141
@atifwaqar I'd just remind that in this case you should not forget to update these files from `\Website\src\WebsiteProvider\wwwroot\WebsiteProvider\surfaces` each time when you updating your Website* app instances.

[2017-09-05 08:40] un-tone commented on #176
The issue was partially fixed in last SC build 2.3.1.7119. Thank you @chrhol!
Currently it doesn't throw the exception but it doesn't refresh page in the described case when you go from general surface page to catching rule page (or any other surface page). I'll try to investigate it further.

[2017-09-05 11:39] PatrykSzwer commented on #176
Since the main problem described in this issue is fixed, then I think we can close this issue and create a new one, regarding last @un-tone comment. I'll close this one for now.

[2017-09-05 11:39] #176 closed

[2017-09-05 11:41] PatrykSzwer opened #186 "No refresh during switching between tabs of surface."
Issue created for bug mentioned here: https://github.com/StarcounterApps/Website/issues/176#issuecomment-327110473

### Steps to reproduce
1. Go to SidebarSurface page.
2. When General view is loaded click on Catching rules on navigation bar.
### Expected result
View is redirected to catching rules partial page.
### Actual result
URL is changed but nothing more is happening.
##### Starcounter vers

[2017-09-06 19:17] un-tone opened #187 "Errors logged while running pinning rules mapping tests"
### Steps to reproduce

Run `build & test` in command line from WebsiteEditor repo (`develop` branch).

### Expected result

Tests ran without errors.

### Actual result

All tests passed but there are the following errors in SC logs:

[code]

[code]

### Technical information

##### Starcounter version

##### Involved apps' version

- c7d15f263eced91c22bbefd76f7d9f1658b7f387

[2017-09-07 08:45] PatrykSzwer commented on #186
As part of investigating this, I've tried to replace links in navigation bar to triggers with puppet-redirect, but without results.

[2017-09-07 09:13] un-tone commented on #186
@PatrykSzwer thanks for the help. But I've already fixed the issue in `fix-nested-surface-render` branch 😄. Currently I'm working on tests for nested surfaces.

[2017-09-07 09:23] PatrykSzwer commented on #186
Ou sorry, but there is not any annotation to this branch so I though It's still unresolved. That's great!

[2017-09-07 11:42] un-tone opened #188 "Improve Selenium tests with checking nested surfaces"
Currently tests can check only root surfaces. We definitely need to check on nested ones.

[2017-09-07 12:30] un-tone commented on #186
Closing as fixed.

[2017-09-11 15:50] bouguila opened #192 "WebsiteProvider causes System.NullReferenceException when running with Launchpad"
### Steps to reproduce
1. Checkout Launchpad and Website both from develop branch
2. Build and run both apps
3. Go to localhost:8080/Launchpad

### Actual result
System.NullReferenceException: Object reference not set to an instance of an object.
   at Starcounter.XSON.SiblingList.CompareAndInvalidate(SiblingList previousSiblings) in C:\TeamCity\BuildAgent\work\sc-8192\Level1\src\Starcounter.XSON\

[2017-09-11 15:52] bouguila commented on #192
ping @un-tone @PatrykSzwer

[2017-09-12 07:18] PatrykSzwer commented on #192
I've tried to reproduce with dev branches of website and launchpad and with SC version 2.3.1.7158, without results. I'll try with higher version of SC also.

[2017-09-12 07:22] un-tone commented on #192
I can't reproduce it too with SC 2.3.1.7166.
@bouguila can you provide more detailed steps with apps running on clean DB?

[2017-09-12 07:49] PatrykSzwer commented on #192
I've also tried to reproduce this also on SC 2.3.1.7166, with and without SignIn app running, still no reproduction.

[2017-09-12 08:28] bouguila commented on #192
thank you for the investigation guys, i will check the steps to reproduce that.
Anyway the error is still http://inside.starcounter.com since WebsiteProvider is running

[2017-09-12 08:42] PatrykSzwer commented on #192
What error do You mean? For me on inside website works fine.

[2017-09-12 08:43] bouguila commented on #192
update: a Wesiteeditor/resetdata solved the problem.

[2017-09-12 08:52] PatrykSzwer commented on #192
Great! I'll close this issue, as not reproducible anymore.

[2017-09-12 13:15] bouguila commented on #192
the problem is again there, and we cannot just do a resetdata everytime. @PatrykSzwer  Could you please go to inside.starcounter.com to see the error?
cc @un-tone

[2017-09-12 13:19] PatrykSzwer commented on #192
Do You know how to reproduce this problem locally?

[2017-09-12 13:22] bouguila commented on #192
i am able to reproduce it just following the steps above

[2017-09-12 13:24] PatrykSzwer commented on #192
But the problem occurred after some time so there had to be some specific actions to make error in DB. Do You know what did You did on inside before It stopped worked again?

[2017-09-12 13:49] bouguila commented on #192
actually i did nothing apart from changing some compositions

[2017-09-12 15:06] un-tone commented on #192
1. Does it help if you restart all the running apps?
2. Please provide the order of starting apps

[2017-09-12 16:00] bouguila commented on #192
@un-tone
1. the restart doesn't help
2. the order does not matter

[2017-09-12 16:06] un-tone commented on #192
I see that on `inside` not only Launchpad and Website are running. Please provide the full list.

[2017-09-12 16:26] un-tone commented on #192
@bouguila maybe you can provide me a dump from `inside`?

[2017-09-13 07:12] PatrykSzwer commented on #192
@un-tone, here is the list of running apps on inside:
![image](https://user-images.githubusercontent.com/25042256/30364239-aab26706-9863-11e7-9ae4-3bea8074e72a.png)
I will also provide You dump from DB.

[2017-09-13 08:41] un-tone commented on #192
There was the same issue https://github.com/StarcounterApps/Website/issues/156

[2017-09-13 10:37] un-tone commented on #192
I found the way to reproduce the bug. You just need to add a pining rule with `/Launchpad` URI. I'll describe it more detailed below.

[2017-09-13 10:43] un-tone commented on #156
The issue has appeared again and will be fixed in #192

[2017-09-13 11:46] un-tone commented on #192
### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch.
1. Run **SignIn** app from `develop` branch.
1. Run **Launchpad** app from `develop` branch.
1. If user is not created go to <http://localhost:8080/signin/createadminuser>.
1. Go to <http://localhost:8080/signin/signinuser> and log in.
1. Go to <http://localhost:8080/websiteeditor>.
1. Select "Defa

[2017-09-14 08:01] warpech opened #193 "Rename "Catching rules" to "Routing", add more info"
In order to make catching rules clearer, let's rename it and add more information about how to use it - right in the app.

1. Rename Catch URIs to Routing
2. If there are no routes for a Surface, add a warning: "This surface has no routes. Click here to add a catch all route.
3. Rename "Nestable" checkbox to "Disallow route nesting"
4. Add a sidebar on the Routing page with the following help info

[2017-09-14 11:39] warpech opened #194 "Add a "Routing" tab to the WebsiteEditor home page"
## Problem
 
Right now it is different to predict the overall surface routing behavior because routes are defined in UI scoped to a particular surface only.
 
## Proposed solution
 
Add a "Routing"  tab in the WebsiteEditor's home page. It shows all defined routes simultaneously, in order in which they are executed (top to bottom)
 
This tab does not replace the existing "Routing" tab in the surfa

[2017-09-14 11:45] warpech opened #195 "Add drag and drop for routes"
Depends on #194

## Problem

It is not possible to change the order of routing.

## Proposed solution

Add a drag and drop feature (using `juicy-draggable`) to change the order of routing.

Each route should have an `Order` property.

When the route is dragged above or below another route, their orders should be swapped.

This should not only affect the display order but also the actual routing. W

[2017-09-14 12:36] chrhol commented on #192
Looks like it was a bug in Starcounter. I've just pushed a fix for it, should be included in the next nightly version.

[2017-09-14 12:50] warpech opened #198 "Implement real surface preview"
## Problem
 
It is hard to imagine how the surface looks like, specifically how are the blending points distributed visually.
 
## Proposed solution
 
For each surface, render a visualisation of it using an `<iframe>`. It might be scaled down to 10% or so.
 
How to make this. The preview should have its own handler in WebsiteEditor that should inserts a view to each of the blending points. The vie

[2017-09-14 13:07] PatrykSzwer commented on #198
I think It's good to have feature. I actually though about It as a preview displayed in general tab on right side, not as a separated tab itself:
![prev](https://user-images.githubusercontent.com/25042256/30431281-634d7d82-995e-11e7-9015-5328bc9adad2.PNG)

 But It's just a easy to change positioning thing.

[2017-09-14 16:37] warpech commented on #193
I was wrong about the label "Disallow route nesting". Many UX resources teach that labels of checkboxes should always be positive. For example: https://uxplanet.org/checkbox-and-toggle-in-forms-f0de6086ac41

Can we go with "Allow route nesting" instead?

Sorry for this.

[2017-09-15 08:20] bouguila commented on #192
@chrhol i've upgraded SC to today's version and the problem is gone! Thanks

[2017-09-15 08:20] bouguila commented on #192
Closing as fixed.

[2017-09-15 08:20] #192 closed

[2017-09-15 08:24] PatrykSzwer commented on #193
Sure, no problem.

[2017-09-15 08:31] un-tone commented on #192
Great! Thank you, @chrhol

[2017-09-15 10:24] PatrykSzwer opened #199 "Exception during restarting WebsiteProvider when there is no surfaces."
### Steps to reproduce
1. Have WebsiteEditor, WebsiteProvider and SignIn running.
2. Login as an Admin user.
3. Go to [http://localhost:8080/WebsiteEditor/surfacegroups](http://localhost:8080/WebsiteEditor/surfacegroups)
4. Go to every surface and delete it.
5. Make sure that there is no surfaces left and restart only WebsiteProvider.
### Expected result
Everything should be running without except

[2017-09-15 10:29] PatrykSzwer opened #200 "After deleting ResponsiveSurface or SidebarSurface redirecting doesn't work"
### Steps to reproduce
1. Have WebsiteEditor, WebsiteProvider and SignIn running.
2. Login as an Admin user at http://localhost:8080/signin/signinuser
3. Go to http://localhost:8080/WebsiteEditor/resetdata
4. Go to http://localhost:8080/WebsiteEditor/surfacegroups
5. Go to ResponsiveSurface or SidebarSurface and remove it.
### Expected result
User is redirected to `/surfacegroups` page, as It's ha

[2017-09-18 08:05] un-tone commented on #186
Reopening due to #202

[2017-09-18 09:04] PatrykSzwer commented on #199
Closing as done.

[2017-09-18 09:04] #199 closed

[2017-09-18 11:29] un-tone commented on #187
I escalated the priority since this bug impedes implementation of blending requested URIs.

[2017-09-18 16:03] un-tone commented on #187
Closing as done

[2017-09-18 16:03] #187 closed

[2017-09-18 18:59] un-tone commented on #200
I think this issue is related to #186

[2017-09-19 20:38] un-tone commented on #186
Actually #205 and #206 fix the issue. Please review these PRs.

[2017-09-20 08:06] un-tone commented on #186
Fixed. Closing...

[2017-09-20 08:06] #186 closed

[2017-09-20 13:14] warpech opened #207 "Remove <br> from HTML templates"
As reported by @tomalec in https://github.com/StarcounterApps/Website/pull/172, we need to replace the usage of `<br>` in `SurfaceGroupsPage.html` with CSS.

The problem with `<br>` is that if you have them, you should add slot attributes to them. Having more slots just to get a new line is an overhead, obviously. Hence, better to do that with CSS.

[2017-09-20 20:54] un-tone commented on #198
I've implemented a POC for this. Please look at https://github.com/StarcounterApps/Simplified/pull/78 and #208.

[2017-09-22 09:51] PatrykSzwer opened #209 "Rename pinning rules to blending rules"
After @tomalec suggestion We decided that in order to make pinning rules clearer, We should rename it to blending rules.

[2017-09-22 13:16] warpech commented on #47
I have pushed the proposed implementation. It needs careful review and testing with other apps (two tests are included).

I decided to rename the feature to "ViewKeeper". Hopefully that's more understandable?

[2017-09-25 07:10] PatrykSzwer commented on #207
Closing as done.

[2017-09-25 07:10] #207 closed

[2017-09-25 07:54] un-tone commented on #54
Closing as done

[2017-09-25 07:54] #54 closed

[2017-09-25 08:28] un-tone commented on #94
Closing as done

[2017-09-25 08:28] #94 closed

[2017-09-25 10:18] Mihaiii opened #214 "Packages error"
### Steps to reproduce
1. Clone Website app
2. Build it (from `master` branch or `develop` branch)
### Expected result
No error.
### Actual result
There are errors. To bypass them, the user has to run

for `WebsiteProvider.Tests`

<details>
  <summary>Error log</summary>

</details>

[2017-09-25 12:26] un-tone commented on #214
I can't reproduce it. Furthermore I don't see any such problems on TeamCity. @Mihaiii could you check the issue again and provide me more info?

[2017-09-25 12:45] Mihaiii commented on #214
Please let me know what relevant info I could provide. I made a git with the steps I took. SC version 2.3.0.6350 (latest Relese version).
![website1](https://user-images.githubusercontent.com/8951553/30808876-19c8abb4-a200-11e7-8fa9-bd5c604be98d.gif)

[2017-09-25 12:52] un-tone commented on #198
Closing as done

[2017-09-25 12:52] #198 closed

[2017-09-25 13:13] un-tone commented on #214
Thanks. I caught it but just one time when switched to `master` and ran building from VS. After that the issue is not reproducible.

[2017-09-25 13:39] un-tone commented on #214
OK. It is reproducible after clearing Nuget cache (with `nuget.exe locals all -clear` command) and if you run Build very fast when solution is still loading. If you wait a little more time the issue is not reproducible.

[2017-09-25 13:44] un-tone commented on #214
Also I'd note that there is no such errors when you run `build.bat`

[2017-09-25 13:51] Mihaiii commented on #214
Not sure, I do have errors when running `build.bat` and also when building after everything is ready.
Like I said in the first post, a new clone should be made (as if you're a new SC user).
Running `nuget.exe locals all -clear` on a copy that already builds and then running `build.bat` indeed gives no errors.

But since TeamCity says everything is ok, I guess that is a local problem.

[2017-09-25 13:54] un-tone commented on #214
I can't reproduce it with just new clone.

[2017-09-26 10:37] un-tone opened #216 "Get rid of Key and ObjectID properties using"
In according to this issue https://github.com/Starcounter/Home/issues/252 and decisions from https://github.com/Starcounter/level1/issues/4210 we should replace all occurrences of using `Key` and `ObjectID` properties with `ObjectNo`.

[2017-09-26 11:47] PatrykSzwer commented on #194
Closing as done.

[2017-09-26 11:47] PatrykSzwer commented on #193
Closing as done.

[2017-09-26 11:47] #193 closed

[2017-09-26 13:46] PatrykSzwer opened #217 "Remove ignore tags above disabling stuff tests"
After https://github.com/Starcounter/Home/issues/251 is fixed, Ignore tags above tests should be removed and tests should be passing.

[2017-09-27 07:36] PatrykSzwer commented on #209
Closed as done.

[2017-09-27 07:36] #209 closed

[2017-09-27 07:53] warpech commented on #216
Even better, replace it with `DbHelper.FromID(DbHelper.Base64DecodeObjectID(id))` and pass objects in queries instead of ids.

[2017-09-28 13:04] PatrykSzwer commented on #214
I've tried to reproduce this with newest starcounter version, no results.

[2017-09-28 22:54] warpech commented on #200
Bonus problem: After doing steps from the OT, do:

- Go to http://localhost:8080/WebsiteEditor/routing

## Expected

You should see a list of routes defined in WebsiteEditor

## Actual

You get `System.NullReferenceException: Object reference not set to an instance of an object`  and **the whole database crashes**. For me, the fact that WebsiteProvider can crash the entire database seems like a pr

[2017-09-29 00:19] warpech opened #222 "Default surface from template is created without blending points"
### Steps to reproduce

1. Start WebsiteEditor (branch `develop`), SignIn (branch `develop`)
2. Call `http://localhost:8080/website/resetdata` to load default mappings
3. Go to `http://localhost:8080/signin/signinuser` to generate the admin user and sign in
4. Go to `http://localhost:8080/websiteeditor/surfacegroups`
5. Create a new surface from the "Default" template
6. Click on "New default temp

[2017-09-29 00:24] warpech opened #223 "Rename "DefaultSurface" to "TopbarSurface""
The template that has a top bar and the main area should be called "TopbarSurface", not "DefaultSurface".

The name "DefaultSurface" is misleading.

[2017-09-29 04:57] miyconst commented on #200
@chrhol please take a look, for me it sounds like Typed JSON tries to do something wrong with a closed transaction.

Even if the Website app is the culprit, it still should not crash entire database.

[2017-09-29 10:35] warpech commented on #152
@PatrykSzwer do you think this can be closed as done now?

[2017-09-29 10:38] warpech opened #227 "SurfaceGroupsPage is not DRY"
The code in `SurfaceGroupsPage.html`, `json` and `json.cs` is duplicated for grouped and ungrouped surfaces in lines:

- https://github.com/StarcounterApps/Website/blob/develop/src/WebsiteEditor/wwwroot/WebsiteEditor/viewmodels/SurfaceGroupsPage.html#L9-L56
- https://github.com/StarcounterApps/Website/blob/develop/src/WebsiteEditor/wwwroot/WebsiteEditor/viewmodels/SurfaceGroupsPage.html#L60-L108

[2017-09-29 11:34] PatrykSzwer commented on #152
Yes, closing as done.

[2017-09-29 11:34] #152 closed

[2017-09-29 11:52] PatrykSzwer commented on #222
Closing as done.

[2017-09-29 11:52] #222 closed

[2017-09-29 12:27] PatrykSzwer commented on #223
Closing as done.

[2017-09-29 12:27] #223 closed

[2017-10-02 12:16] warpech commented on #118
That was a good initiative with the Milestones, but we need to coordinate even more accross the repos. From now on, our Roadmap for [all the apps of the Web Platform Team](https://github.com/search?q=topic%3Aweb-platform-team) will be mainained in a project: https://github.com/orgs/StarcounterApps/projects/3

[2017-10-02 12:16] #118 closed

[2017-10-02 12:19] warpech commented on #214
Closing as not reproducible. @Mihaiii pls reopen when you have more info

[2017-10-02 12:19] #214 closed

[2017-10-03 08:48] un-tone commented on #200
Created the PR #229 fixes the https://github.com/StarcounterApps/Website/issues/200#issuecomment-332985614 issue

[2017-10-03 08:58] chrhol commented on #200
Is this still something I should look at? That the whole codehost crashes is not really connected to this problem, this is the default behaviour for all exceptions thrown and not catched when a task is scheduled.

So what I could look at (unless @un-tone already found it of course) is why some viewmodel instance has a reference to a closed transaction.

[2017-10-03 09:08] un-tone commented on #200
Yes, it would be helpful. I haven't found it.

[2017-10-03 16:16] un-tone opened #231 "Incorrect menu when not logged in"
### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch.
1. Run **SignIn** app from `develop` branch.
1. If you logged in, logged out on <http://localhost:8080/signin/signinuser> page
1. Go to <http://localhost:8080/websiteeditor>

### Expected result

Menu items should be disappeared or at least be the same as for logged in user.

### Actual result

Inc

[2017-10-03 16:26] un-tone commented on #200
The JSON Patch after deleting seems to be correct:
![image](https://user-images.githubusercontent.com/1625378/31136252-538b5b8c-a870-11e7-9ca9-9e541b3b303f.png)
The issue seems similar to https://github.com/Starcounter/Home/issues/250

[2017-10-03 22:04] warpech commented on #200
@chrhol so is this really by design?

[code]

[2017-10-04 07:26] chrhol commented on #200
Well "by design" might be a too strong word for it, but essentially yes. When an exception occurs that is not handled, we terminate the codehost (note: codehost, not database!) to make sure we don't end up in a corrupt/invalid state.

We have had loong discussions on how we can improve this (for example: https://github.com/Starcounter/home/issues/51) but it requires quite some investigation and re

[2017-10-04 08:56] warpech commented on #200
Another issue when an exception in data binding causes all apps to crash: https://github.com/StarcounterApps/Timeline/issues/37#issue-261785479

On the other hand, all exceptions in `Handle.GET` handlers are treated as handled exceptions and do not crash the codehost. Isn't this inconsistent? Maybe we should have a high level `Session.Push` method that works as

[code]

Right now the only solution

[2017-10-04 09:02] chrhol commented on #200
Yeah, there is plenty of room for improvements around this. We need to come up with some good way. I think we need to move this discussion to it's own issue though.

[2017-10-05 10:38] chrhol commented on #200
I think I found the reason for the closed transactions. Viewmodels stored on the session that are not part of what is sent to the client, doesn't correctly keep the attached transactions alive.

Lets see if fixing this will have anything to do with the original issue (i.e. no redirect).

[2017-10-06 09:55] un-tone commented on #231
Closing as fixed.

[2017-10-06 09:55] #231 closed

[2017-10-06 11:04] un-tone commented on #216
Closing as done.

[2017-10-06 11:04] #216 closed

[2017-10-06 11:04] un-tone commented on #227
Closing as done.

[2017-10-06 11:04] #227 closed

[2017-10-08 11:40] Mihaiii opened #234 "Select Blend URI option"
In Content app I use the id for URIs (ex: `/content/dynamic/Cq`).

In version 1 of Content app, the user had the possibility to write the URIs that he/she desires (after `/content/dynamic/`), but I changed this because now a Content Item can have a `Name` and there can be multiple Content Items with the same name (especially if the parent content item is different. For example, "Introduction" can

[2017-10-10 12:25] chrhol commented on #200
A fix for the closed transactions are now pushed and will be included in the next nightly builds.

As for the original problem, this doesn't look like it changed anything. The redirect is still not redirecting. Not sure who should be assigned to this issue, but as @un-tone mentioned earlier, this issue looks similar to https://github.com/Starcounter/Home/issues/250 (and with that: https://github.c

[2017-10-14 19:11] warpech opened #237 "Two tests failing"
Since Oct 13th [one test in WebsiteProvider are consistently failing](http://teamcity.starcounter.org/viewType.html?buildTypeId=Apps_Website_Develop) (in both tested browsers):

[code]

With the error:

[code]

@alemoi is this something you can investigate directly? Do you need any help to reproduce it? I assume the tests are quite straightforward but in case you can't read them please contact me.

[2017-10-15 00:56] alemoi commented on #237
Yeah, I was trying to investigate it but having troubles understanding why the Website app is mapping and unmapping URIs all the time: https://github.com/Starcounter/level1/pull/4294#issuecomment-336599246
I need some help from @un-tone I suppose. Or who is the author of Website app?

[2017-10-16 09:29] chrhol commented on #200
I will remove my assignment from this issue, I don't think I have anymore to do with with one at the moment.

[2017-10-16 10:30] warpech commented on #237
Yes, the current maintainer of WebsiteProvider is @un-tone.

[2017-10-16 13:31] alemoi opened #238 "Design discussion: numerous calls to UriMap/Unmap etc"
I barely know how the Website app is working underneath. The initial impression I got is that admin registers needed URIs, which he adds manually via Website app UI. Admin can register mixed URIs then, which is good.
Reminder:
**Specific URI**: /WebsiteProvider_AcceptanceHelperTwo/content/test55
**Handler URI**: /WebsiteProvider_AcceptanceHelperTwo/content/{?}
**Mixed URI**: /WebsiteProvider_Accep

[2017-10-16 13:49] PatrykSzwer opened #239 "Visual improvements for WebsiteEditor"
After long discussion with @warpech, We decided to make few small changes to improve user experience for Website Editor app:

1. Rename unassigned surfaces to ungrouped surfaces.
2. Make iframe for preview wider so that holy grail looks correct, and make Preview header as a link to new window.
3. Rename Route URI in blending rules to route.
4. Fix Route URI (in Blending rules) content - add header

[2017-10-16 14:02] PatrykSzwer opened #240 "Routes ordering"
Right now It's impossible to predict how multiple nested surfaces will behave. We need to implement ordering for routes and make surfaces nesting conditional to it.

This issue is related to https://github.com/StarcounterApps/Simplified/pull/77 and https://github.com/Starcounter/Website/issues/195.

[2017-10-16 15:22] alemoi commented on #238
https://github.com/Starcounter/Website/issues/237

[2017-10-16 16:00] warpech commented on #238
Thanks @alemoi for asking this, this is a legitimate question.

@un-tone could you pls explain what are these lines used for:

- https://github.com/Starcounter/Website/blob/8913ef61fcb2e13edde7ea7b722f81c09babb005/src/WebsiteProvider/Api/ContentHandlers.cs#L81
- https://github.com/Starcounter/Website/blob/8913ef61fcb2e13edde7ea7b722f81c09babb005/src/WebsiteProvider/Api/ContentHandlers.cs#L94

As @

[2017-10-16 16:04] un-tone commented on #238
It was implemented in #205 in according to this discussion https://github.com/Starcounter/Minutes/blob/master/BlendingTF/2017-09-14-blending_already_blended.md.

[2017-10-16 16:26] un-tone commented on #238
Actually I agree with @alemoi, especially with last changes in Blender it became too expensive to use such approach since to fix fast the current issue we'll have to use `Blender.TryGetMixedUriFromSpecific`.
So I should revert changes from #205, but we should find another solution for that "blending already blended" problem. I'll investigate for it tomorrow.

[2017-10-16 18:19] warpech commented on #238
Thanks @un-tone very much for nailing this. I agree #205 should be reverted, but actually this PR is a very clean explanation of what problem we need to solve.

To explan it in one sentence, we are doing *on-the-fly* blending based on conditions ran in a response middleware.

@alemoi a simple way to replicate this problem is: create a `Blender.MapUri` rule that only works for odd requests and does

[2017-10-16 19:33] alemoi commented on #238
Can you please explain more explicitly? 😄

[2017-10-16 21:11] warpech commented on #200
Let's wrap up:

1. Exceptions in asynchronous code crash the codehost. If we cannot fix this, we should explain this. I have created an issue about that: https://github.com/Starcounter/Docs/issues/166
2. After performing the steps 1-4 from OT and deleting "ResponsiveSurface" the user is not redirected to the Surface Groups page, but going to http://localhost:8080/WebsiteEditor/routing works OK
3.

[2017-10-16 21:22] warpech commented on #238
1. Write a `Handle.GET` that returns JSON `{"Hello": "World"}`
2. Write another `Handle.GET` that returns JSON `{"Foo": "Bar"}`
3. Write a blending rule that attaches 2 whenever 1 is called
4. Make that blending rule be effective not always, but every second time

In the past, point was achieved by conversion functions or by declaring the blending rule in middleware. Right now it seems that both t

[2017-10-17 02:44] alemoi commented on #238
Hmm, seems very specific.  Sounds like there should be a special boolean-returning function, that will be called if given before each blending. If it returns True - then blending is called, otherwise not. And it won't be able to do it via markdown ofc.

[2017-10-17 09:32] warpech commented on #238
Because we are doing a specific thing. WebsiteProvide wraps ANY response in a middleware and, based on the request HTTP headers, applies `Blender.API`. For example, it can put `/signin/user` to the Topbar only if the URI begins with `/people` and the port is host is `intranet.company.com`.

[2017-10-17 11:15] warpech commented on #238
If @alemoi you understand this now, but still think this cannot be implemented in an elegant way, I think we must remove this feature altogeter from WebsiteEditor. Wheven a user tries to set a blending rule to the default blending point, a warning will show that this blending rule is ineffective.

@alemoi, @un-tone WDYT?

[2017-10-17 12:44] un-tone commented on #238
@warpech I didn't catch how your solution solves the current problem? We still will have to make many calls of `Blender.MapUri` on each request, right? Could you please explain it?

[2017-10-17 13:03] PatrykSzwer commented on #200
In my case both points 2 and 3 have same result (described at point 2). I can't reproduce getting empty page from point 3.

[2017-10-17 13:05] PatrykSzwer commented on #200
Also something happened to ResponsiveSurface and SidebarSurface, because they're not showing content anymore, either on side and in preview.

[2017-10-17 13:07] PatrykSzwer opened #242 "SidebarSurface and ResponsiveSurface does not showing content on side"
When You go to either SidebarSurface or ResponsiveSurface You should see description on left side. Right now there is just blank page. Also preview for those surfaces stopped working.

[2017-10-17 13:12] PatrykSzwer commented on #242
Seems like this problem is related to https://github.com/Starcounter/Website/issues/238, and https://github.com/Starcounter/Website/issues/237. Since there is no need for another issue about practically the same, I'll close this one.

[2017-10-17 13:12] #242 closed

[2017-10-17 13:19] un-tone commented on #200
Same thing

[2017-10-17 13:31] warpech commented on #238
All I wanted to illustrate is that we need a API to conditionally apply blending rules for an unknown URI.

If this sounds not feasible to @alemoi, then we should remove the feature of supporting blending rules for the *default* blending point of a surface.

[2017-10-17 14:15] warpech commented on #200
Hmm... neither can now! Let's assume only point 2 is a problem then.

[2017-10-17 15:01] alemoi commented on #238
As I suggested above I can add a conditional function to Blender API, that would work as following:
right before the blended URI is called, I'm calling the given (by user) delegate function, which if returns TRUE - then I call this blended URI, and if not - then I don't.
But we can think of something better and more generic.

[2017-10-17 22:08] alemoi commented on #238
However this sounds like another type of converter delegates, though simplified :)

[2017-10-18 22:07] Mihaiii commented on #238
Hi everyone!

Regarding the multiple blending/unblending at every request issue, can we please have a Custom build that doesn't have this problem (even if you undo some changes done in some PR) until you all find a final solution?
I have multiple scenarios in which an error is thrown when navigating in `inside.starcounter.com` and I suspect that the majority of them are related with this issue.

T

[2017-10-19 09:18] warpech opened #244 "Use Db.FromId"
In PR #230 an API `DbHelper.FromID` was used, but since
https://github.com/Starcounter/level1/pull/4218 in Starcounter there is much simpler API: `Db.FromId`. Please use that one one instead.

https://docs.starcounter.io/guides/database/object-identity-and-object-references#retrieving-from-object-identity

[2017-10-19 09:35] warpech commented on #238
My proposal is this:

1. we remove the feature of blending additional content to the "default blending point"
2. whenever a user tries to set a blending rule to the default blending point in WebsiteEditor, we will show a warning that this blending rule is ineffective
3. We make an issue in RebelsLounge about the proposal made by @alemoi in https://github.com/Starcounter/Website/issues/238#issuecom

[2017-10-19 09:43] un-tone commented on #238
I agree, because I don't like this mapping/unmapping on each request. I guess users can just add additional blending point if they want to get a replacement of this feature.

[2017-10-19 11:39] PatrykSzwer commented on #238
I also agree, since it has that impact on performance (and readability as it seems). We just need to properly describe that to user, for him to understand what he should/shouldn't be doing, and we should be good.

[2017-10-19 12:37] warpech commented on #239
Closing as done in #241

[2017-10-19 12:37] #239 closed

[2017-10-19 12:48] warpech opened #247 "Remove the support for executing blending rules for the default blending point"
For the reasons explained in:

- https://github.com/Starcounter/Website/issues/237 (two tests fail after `Blender.MapUri` improvements)
- https://github.com/Starcounter/Website/issues/238 (WebsiteProvider uses costly calls to `Blender.MapUri` and `Blender.UnmapUri` at runtime in middleware)

We decided to do the following:

1. remove the feature of blending additional content to the "default blend

[2017-10-19 12:49] warpech commented on #237
@un-tone has created a temporary fix for this in https://github.com/Starcounter/Website/commit/d94e66f7f7ec98f390e1e61d48edf94982265166, but we decided to not implement it and remove this feature.

This is tracked in https://github.com/Starcounter/Website/issues/247

[2017-10-19 12:49] #237 closed

[2017-10-19 12:51] warpech commented on #238
Thanks, seems that we have an agreement! I have created a fresh issue to implement changes from https://github.com/Starcounter/Website/issues/238#issuecomment-337854121 point 1 and 2.

[2017-10-19 12:51] #238 closed

[2017-10-19 13:01] PatrykSzwer commented on #244
Closing as done.

[2017-10-19 13:01] #244 closed

[2017-10-24 16:05] un-tone opened #250 "Previews does not work properly"
It seems that blending is not working on the preview pages. It should work in according to https://github.com/Starcounter/Website/issues/198.

### Screenshot
![image](https://user-images.githubusercontent.com/1625378/31954366-103d438e-b8ee-11e7-8006-ffa133f590c4.png)

[2017-10-24 22:24] warpech opened #251 "Create a Settings page with Reset, Import and Export"
Create a settings page with the following options:

- "Delete all surfaces" button that opens a modal with
    - text "This will delete all surfaces, blending points, blending rules and routes"
    - OK button
    - Cancel button
- "Import data from sqlite3 file" file upload
    - uses `StarDump.exe unload --database <current database name> --file WebsiteEditorConfig.sqlite3 --reassignobjectno --f

[2017-10-25 09:17] un-tone opened #252 "Fix authorization library using"
Current implementation doesn't let simply add another page types - it works well only for ones implementing `IKnowSurfacePage`.

Also it is incorrect re-creating of `CurrentPage` here https://github.com/Starcounter/Website/blob/16beaa01bbbf241dceb1a23c48c37728d0774224/src/WebsiteEditor/Api/Authorization/MasterPageMiddleware.cs#L42 since it already assigned in the code a little above https://github

[2017-10-25 09:29] un-tone commented on #251
Please be aware that I also started to work on settings page in according to https://github.com/Starcounter/Website/pull/211#issuecomment-337258805 (`47_viewkeeper-settings` branch). But currently I'm blocked by the https://github.com/Starcounter/Website/issues/252 issue which should be escalated, I assume.

[2017-10-25 09:47] warpech commented on #252
Is this something that @PatrykSzwer can fix in WebsiteEditor or is it a fault of the Authorization library?

[2017-10-25 09:52] PatrykSzwer commented on #252
I can try to partly fix it, but I can't promise that I can handle all of this problems.

[2017-10-26 15:00] PatrykSzwer opened #254 "Creating new blending point in TopbarSurface throws exception"
### Steps to reproduce
1. Login as admin user.
2. Run SignIn, WebsiteEditor and WebsiteProvider.
3. Go to http://localhost:8080/WebsiteEditor
4. Choose TopbarSurface.
5. Go to blending points tab.
6. Create new blending point, give it any name and click Save.
7. Click on General tab or `Back to groups

### Expected result
No errors

### Actual result
Internal server error is thrown.

##### Starcou

[2017-10-26 15:01] warpech opened #255 "Generate the DOM part of the surface views automatically"
One of the remaining weak points of WebsiteEditor & WebsiteProvider is that your surface needs a static HTML file that represents a view of that surface. For example: https://github.com/Starcounter/Website/blob/6c5d6ececa62b28a8a242cec14351893215970a3/src/WebsiteProvider/wwwroot/WebsiteProvider/surfaces/TopbarSurface.html

This file should be created on the fly by a handler that returns something

[2017-10-26 15:12] PatrykSzwer commented on #247
Done, closing.

[2017-10-26 15:12] #247 closed

[2017-10-26 19:06] warpech opened #257 "Error: Sequence contains no elements"
### Steps to reproduce

1. Clone Website `develop` branch (55c168f2b410c3524c1ec31511826b8505918007)
2. Have some specific data in the database ([SQLite dump](https://drive.google.com/file/d/0BzF8KHDi0CnNSGQzaHFmRWNlSWM/view?usp=sharing))
3. Build and run WebsiteEditor and WebsiteProvider using the batch files

### Expected result

The apps should start

### Actual result

There is a startup excep

[2017-10-26 20:15] warpech opened #258 "Apply agreed project structure"
The project structure does not adhere to our own guidelines presented at https://docs.starcounter.io/cookbook/project-structure/

What I mean:

- folder `src/WebsiteEditor/wwwroot/WebsiteEditor/viewmodels` should be renamed to `views`
- perhaps something else? (please check)

This is low prio.

[2017-10-27 09:35] PatrykSzwer opened #259 "Spaces doesn't work in inputs inside paper-collapse-item"
When You try to write space inside any input from paper-collapse-item (e.g add space inside blending point name) nothing is going to happen. It's related to bug in paper element itself, which can be followed here: https://github.com/PolymerElements/paper-item/issues/28 and https://github.com/Collaborne/paper-collapse-item/issues/19 here.

I've tried to implement workaround mentioned here https://g

[2017-10-27 12:01] un-tone commented on #257
When I run the `reload` command
[code]
I'm getting the following error:
[code]

Does it works well on your side, @warpech?

[2017-10-27 12:23] warpech commented on #257
I am getting the same error :( I made an issue in StarDump: https://github.com/Starcounter/StarDump/issues/69

[2017-10-30 15:08] alshakero opened #261 "I had to manually stop the build with 79h overtime"
http://teamcity.starcounter.org/viewLog.html?buildId=35462&tab=buildResultsDiv&buildTypeId=Apps_Website_Develop

[2017-10-30 20:52] warpech commented on #261
That's a hard working build, thanks for reporting!

Closing as duplicate of https://github.com/Starcounter/AdminTrack/issues/363

[2017-10-30 20:52] #261 closed

[2017-10-31 15:43] un-tone commented on #250
Closing as done

[2017-10-31 15:43] #250 closed

[2017-11-03 09:13] warpech commented on #200
@PatrykSzwer, @un-tone can you pls repeat the investigation? Where should the problem be fixed, in Starcounter, WebsiteEditor or WebsiteProvider?

[2017-11-03 11:26] un-tone commented on #200
The issue appears because after deleting the surface, the `document` does not contain the `palindrom-redirect`: https://github.com/Palindrom/palindrom-redirect/blob/e846d04e5ab48de9d3db3d7ef778b2d47e6979d3/palindrom-redirect.html#L29
I'm still not sure why.

Another note, when deleting not nested surface the view is not cleared and contains the `palindrom-redirect`:
![image](https://user-images.gi

[2017-11-03 11:43] un-tone commented on #200
The issue seems to me like not a bug since we trying to use already deleted data.
I can propose the following solutions:

1. Use `Deleted` property for surfaces instead of permanent deleting.
2. Move `Delete` button to another page.

I'd prefer the first solution because the second one can have the same problem if the page will be included into deleting surface.

Note: I guess the issue with `Dele

[2017-11-03 23:06] warpech commented on #200
I vote for 1, but even better I would like the following:

1. user clicks the "Delete" button, which deletes the surface
2. this triggers a delete commit hook in WebsiteProvider
2. WebsiteProvider unmaps the surfaces before deleting
3. WebsiteProvider repeats the function https://github.com/Starcounter/Website/blob/a69aa8b94c11bb94806416b224a2b40974e87343/src/WebsiteProvider/Api/ContentHandlers.cs

[2017-11-06 10:56] PatrykSzwer commented on #200
I'm also looking for first solution, rather than second. Specially since 2nd won't fix problem that occur in #262

[2017-11-07 11:39] un-tone opened #264 "Transaction error when switching between WebsiteEditor pages"
### Steps to reproduce

1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch.
1. Run **SignIn** app from `develop` branch.
1. If user is not created go to <http://localhost:8080/signin/createadminuser>.
1. Go to <http://localhost:8080/websiteeditor> and log in.
1. Go to "HolyGrailSurface" page and press "Delete" button.
1. After redirecting back on the "Surface Groups" page

[2017-11-07 12:49] un-tone opened #265 "Can't log in on /signin/signinuser page"
### Steps to reproduce

1. Run **SignIn** app from `develop` branch.
1. Run **WebsiteEditor** and **WebsiteProvider** apps from `develop` branch.
1. Log out and go to <http://localhost:8080/signin/createadminuser>.
1. Create the "admin" user if needed.
1. Press "BACK" button so you go to <http://localhost:8080/signin/signinuser> page.
1. Input the credentials and press "Sign In" button.

### Expec

[2017-11-07 13:00] un-tone commented on #200
I created PR https://github.com/Starcounter/Website/pull/266 for the 2nd solution. For the 3rd one described in https://github.com/Starcounter/Website/issues/200#issuecomment-341848568 I'll create a separate issue.

[2017-11-07 13:21] un-tone opened #267 "Smooth permanent deleting surfaces"
Based on the comment https://github.com/Starcounter/Website/issues/200#issuecomment-341848568:

1. user clicks the "Delete" button, which deletes the surface
2. this triggers a delete commit hook in WebsiteProvider
2. WebsiteProvider unmaps the surfaces before deleting
3. WebsiteProvider repeats the function https://github.com/Starcounter/Website/blob/a69aa8b94c11bb94806416b224a2b40974e87343/src/W

[2017-11-07 13:32] un-tone commented on #240
Closing as done.

[2017-11-07 13:32] #240 closed

[2017-11-07 13:38] un-tone opened #268 "Add View Keeper settings on Settings page"
Currently View Keeper settings configuring implemented through administrative URIs (https://github.com/Starcounter/Website/pull/211#issuecomment-341066322).

Here we should remove it and add "Enable View Keeper" checkbox on the WebsiteEditor's Settings page.

[2017-11-07 13:40] un-tone commented on #47
Closing as done.
For the View Keeper settings I created a separate issue https://github.com/Starcounter/Website/issues/268/

[2017-11-07 13:40] #47 closed

[2017-11-07 15:06] PatrykSzwer commented on #200
I would say that your PR is more about 1st solution:

 than 2nd, or Am I don't understanding something here?

[2017-11-07 15:07] un-tone commented on #200
Sure, fixed it :-)

[2017-11-09 14:23] un-tone commented on #200
Closing as done.

[2017-11-09 14:23] #200 closed

[2017-11-09 14:23] un-tone commented on #217
Closing as done.

[2017-11-09 14:23] #217 closed

[2017-11-10 13:06] PatrykSzwer commented on #268
Since view keeper functionality is already merged to develop, and https://github.com/Starcounter/Website/pull/262 has to wait for stardump changes, I'll implement this part there.

[2017-11-14 08:31] PatrykSzwer commented on #252
Closing as done.

[2017-11-14 08:31] #252 closed

[2017-11-15 11:26] PatrykSzwer commented on #255
Closing as done. 🎆 🎉

[2017-11-15 11:26] #255 closed

[2017-11-15 13:27] PatrykSzwer opened #273 "Exception when clicking general tab two times"
### Steps to reproduce
1. Go to http://localhost:8080/WebsiteEditor/surfacegroups and choose responsive or sidebar surface.
2. You will be at surface's general tab.
3. Click "General" on navigiation bar again.
### Expected result
Nothing happen.
### Actual result
You will get an error:
![image](https://user-images.githubusercontent.com/25042256/32838394-0c540d64-ca11-11e7-9870-d661f01cedbf.png)

#

[2017-11-15 14:10] un-tone commented on #273
I can't reproduce it in SC 2.3.1.7771

[2017-11-15 14:35] un-tone commented on #273
Did it. It is reproducible on nested pages.

[2017-11-15 14:36] PatrykSzwer commented on #273
I just wanted to write that, that reproduction can be done on responsive surface and sidebar surface.

[2017-11-15 23:49] Mihaiii commented on #265
Like https://github.com/Starcounter/Website/issues/264 (as @PatrykSzwer mentioned), this issue is no longer reproducible with latest RC that uses latest `palindrom-redirect`.

I hope this message saved you some time. 👍

[2017-11-15 23:58] Mihaiii commented on #273
Can't reproduce with SC 2.3.1.7779

[2017-11-16 08:39] un-tone commented on #264
The bug is not reproducible in SC 2.3.1.7786. Closing..

[2017-11-16 08:39] #264 closed

[2017-11-16 08:41] un-tone commented on #265
Confirm. The issue is not reproducible in SC 2.3.1.7786. Closing...

[2017-11-16 08:41] #265 closed

[2017-11-16 08:41] un-tone commented on #265
Thank you @Mihaiii

[2017-11-16 09:20] un-tone commented on #273
It's still reproducible in SC 2.3.1.7786

[2017-11-16 09:33] Mihaiii commented on #273
I still can't reproduce it with that SC version so I suppose I'm doing something wrong.
Sorry for misinforming :).

[2017-11-16 10:23] warpech commented on #273
I have removed the label "P/Low" because we should only use the project board. In fact, I think this is of high priority because nested surfaces are a common scenario.

[2017-11-16 10:48] un-tone commented on #254
Closing as fixed.

[2017-11-16 10:48] #254 closed

[2017-11-16 14:36] un-tone commented on #273
Created PR #276

[2017-11-16 17:05] un-tone commented on #273
Closing as done

[2017-11-16 17:05] #273 closed

[2017-11-17 09:06] un-tone commented on #257
After the fixes in StarDump I'm still getting the error `One or more arguments was invalid. Property Deleted isn't found in class Simplified.Ring6.WebSection.`. I suppose the attached dump file is invalid for current StarDump version.

[2017-11-17 11:25] PatrykSzwer commented on #268
Closing as done.

[2017-11-17 11:25] #268 closed

[2017-11-17 11:36] PatrykSzwer commented on #251
Closing as done.

[2017-11-17 11:36] #251 closed

[2017-11-17 16:14] warpech commented on #257
@miyconst can this be true? In that case, let's close this issue.

[2017-11-17 17:13] miyconst commented on #257
It should not be so, unless I missed something. @un-tone are you sure you are using the updated StarDump? What version `StarDump.exe` shows?

[2017-11-20 11:19] un-tone commented on #257
[code]

There are two cases. The one when `default` DB is clean and without running apps:

[code]

The second when WebsiteEditor/WebsiteProviders are running:

[code]

[2017-11-20 13:17] un-tone opened #278 "Move holygrail.css from WebsiteProvider"
This file should be moved [WebsiteEditor/wwwroot/WebsiteEditor/css/holygrail.css](https://github.com/Starcounter/Website/blob/master/src/WebsiteEditor/wwwroot/WebsiteEditor/css/holygrail.css) because this file is not accessible in the case when WebsiteEditor is not running.

[2017-11-20 13:38] PatrykSzwer opened #279 "Data manipulation methods should be inaccessible for unauthorized users"
Right now user doesn't have to be admin or even logged in to use Uri's/methods like `/resetdata` or `/cleardata`. Those are really crucial and only administrator should be able to use them.

[2017-11-21 11:19] PatrykSzwer opened #280 "Import and export data should have more informative messages"
Right now, import and export actions have only "Successful" message available. It's clearly not enough and we have to show what actually happens in console, when something went wrong. I'll add information from console output to message box whenever something wrong happen.

[2017-11-21 18:47] miyconst commented on #257
@un-tone please share the dump with me.

[2017-11-22 07:54] un-tone commented on #257
Sure, it is the same from the issue description: https://drive.google.com/file/d/0BzF8KHDi0CnNSGQzaHFmRWNlSWM/view?usp=sharing

[2017-11-22 08:54] PatrykSzwer commented on #258
Closing as done.

[2017-11-22 08:54] #258 closed

[2017-11-22 09:54] miyconst commented on #257
@un-tone thank you for the dump. I am afraid this is expected behavior.

`StarDump.exe reload --database default --file WebsiteEditor-issue-257.sqlite3`

Since the  `--skipschema` is not provided, StarDump tries to create the database schema, and it's not possible since only a few tables are present in the dump. Such dump can only be reloaded with `--skipschema`.

This is not allowed to reload a d

[2017-11-22 09:54] #257 closed

[2017-11-23 09:29] PatrykSzwer opened #284 "⏰ WebsiteEditor and WebsiteProvider doesn't work on Starcounter 2.4"
Right now there is no possibility to run Website under Starcounter 2.4. We have to:

1. Create new branch, `master-2.4`
2. Add compatibility attribute.
3. Biggest issue why website is not building is missing of `Simplified`. I think the easiest way right now, will be to somehow import `Simplified` as a dll to solution.

[2017-11-23 09:57] PatrykSzwer commented on #284
Actually I have some concerns about pt. 3.
What is our policy in importing `Simplified` to SC 2.4 project? Can I just import entire `.dll` file, or should I separate used classes into separated database classes to solution? And what about correlation between provider and editor, since them are using same classes. I assume that when I copy classes 2 times for both projects, they will NOT share data

[2017-11-23 12:00] per-samuelsson commented on #284
The "correct" way would be to start distribute Simplified as a NuGet package, and have all apps that depend on it use that package.

Seem though like the currently promoted way would be https://github.com/StarcounterApps/Simplified#adding-simplified-to-your-project.

[2017-11-23 16:00] PatrykSzwer commented on #284
I've added recently created package with Simplified made by @habib535. Still, I can't run website properly. I'm getting error warnings like:
[code]
I've removed default database (created under 2.3.1) and created new one, and still got this error.

[2017-11-23 17:19] habib535 commented on #284
This seems to be a bug in Star v2.4

I just created a class library and referenced it in the Starcounter application.
`SELECT * FROM StarcounterClassLibrary1.Entity1`
works fine in v2.3 but gives error `Unknown class StarcounterClassLibrary1.Entity1` in 2.4

![image](https://user-images.githubusercontent.com/2991381/33183969-8b409196-d07a-11e7-9200-600756a84d1b.png)

[2017-11-24 08:58] PatrykSzwer commented on #284
You mean that this can be related to Your `Simplified` nuget package and some 2.4 bug? Could You please report that?

[2017-11-24 09:40] PatrykSzwer commented on #280
Closing as done.

[2017-11-24 09:40] #280 closed

[2017-11-24 09:40] PatrykSzwer commented on #279
Closing as done.

[2017-11-24 09:40] #279 closed

[2017-11-24 09:40] PatrykSzwer commented on #278
Closing as done.

[2017-11-24 09:40] #278 closed

[2017-11-27 12:14] habib535 commented on #284
@PatrykSzwer please try updating the nuget package to `1.0.1`, this should fix the issue.

[2017-11-28 09:59] un-tone opened #286 "Middleware does not handle response on first call"
We have a middleware registered in the test helper app which add a cookie to responses.
In the test we call `new AcceptanceHelperOneMasterPage(Driver).Load()` but for some reason the middleware does not handle it. It do only in the second time so I've temporarily added the same second call. This issue did not appear when was not called first in a test fixture, i.e. if I move the test `MiddlewareHa

[2017-11-28 12:18] PatrykSzwer commented on #284
Thanks @habib535, looks like it helped! But not everything is working yet.

Right now Website is building and running properly, but when I try to go to `/websiteeditor` I'm getting exception like this:
![image](https://user-images.githubusercontent.com/25042256/33319331-6ee99d2c-d43e-11e7-8da4-5f4bbc806106.png)

Seems like It's related with authorization library. @joozek78 could You please take a

[2017-11-28 14:13] un-tone commented on #188
Closing as done.

[2017-11-28 14:13] #188 closed

[2017-11-29 10:09] PatrykSzwer commented on #284
Seems like problem occurs because of differences in weaving between 2.3 and 2.4, more specific because
for 2.3 libraries are weaved in run time and for 2.4 in build time. There is a nice warning about this in VS:

![image](https://user-images.githubusercontent.com/25042256/33369686-aaf759f0-d4f5-11e7-921b-324dec94298f.png)

@per-samuelsson Do You know how could we deal with this problem?

[2017-11-29 11:02] joozek78 commented on #284
The obvious solution is to release a new version of the library, targetting `2.4`. The tough question is can we avoid releasing a new version of the library just because we changed binary compatibility. Maybe we could defer weaving of libraries until an app using them is built? Maybe just "test-weave" them to verify the will not pose any problems?

[2017-11-29 11:20] per-samuelsson commented on #284
None else than what @joozek78 propsed I'm afraid:

I wrote it several times already when we switch from boot-time to compile-time weaving in 2.4, that it was going to be quite a big change that would need to be considered in most deployment scenarios, and now we are there.

[2017-11-29 11:22] per-samuelsson commented on #284
I'm really glad to see creative suggestions like that. But I don't think we want to go there. Then we have even more code to maintain, and more possible problem-areas. I really think we need to just accept the fact that we have changed how apps and libraries are built between these versions, and adapt to it in most straight-forward way, on app-level. Not changing platform again.

[2017-11-29 11:26] per-samuelsson commented on #284
FWIW, it is possible using low-level tooling to weave assemblies "on the fly":

[code]

Maybe that could be usable somehow?

[2017-11-29 11:27] joozek78 commented on #284
We could incorporate it into the build as a workaround. I'm currently writing response tackling the issue at large

[2017-11-29 11:35] joozek78 commented on #284
what do you mean? I propose to weave only when building an executable. What are the potential problems?

It would be fine if it remained at app level. Unfortunately, it means that anyone who wants to release a library - and we want people to do it - has to rebuild and re-release it every time Starcounter issues a binary-incompatible release. Imagine the following scenario:

1. Mopedo created a lib

[2017-11-29 11:50] mmnosek commented on #284
This is really bad and we should avoid it at all costs, really!

[2017-11-29 12:34] per-samuelsson commented on #284
Of course.

I probably misunderstood your intent. I thought you meant we should redesign the platform somehow. Weaving when building assemblies that target Starcounter is exactly what 2.4 is all about, so of course no problem with that.

Well, just as we can't tamper with our public API's, we need to pay as close attention to when we change Starcounter facade consumed by the weaver. Public APIs an

[2017-11-29 13:49] PatrykSzwer opened #287 "Add link to website tutorial video in Readme"
@warpech recorded pretty cool, explanatory video about basically every aspect of Website app. I think there is no cons in adding link to this video into readme so that every new user, who doesn't know about video, will see it right away.

@warpech WDYT? Are there any arguments against this?

[2017-11-29 14:17] warpech commented on #287
That's a very good idea, please do that.

[2017-11-30 13:09] PatrykSzwer commented on #287
Done.

[2017-11-30 13:09] #287 closed

[2017-11-30 13:22] PatrykSzwer opened #289 "Create welcome page view model for /WebsiteProvider URI"
Regarding comment: https://github.com/Starcounter/DisplayAppTitle/pull/5#pullrequestreview-80168875 We decided that every app that doesn't have anything to show, should have view model with welcome message, where We could show some simple information about app, what is it for, owner, version etc.

Right now WebsiteProvider should return view model for Uri: `/Websiteprovider` with current welcome m

[2017-12-04 09:00] PatrykSzwer commented on #289
Closing as done.

[2017-12-04 09:00] #289 closed

[2017-12-12 14:26] warpech commented on #284
Please let's put the focus on fixing WebsiteEditor and WebsiteProvider in Starcounter 2.4. This is urgent for @Starcounter/sc-apps.

cc @LarsTjernstrom, @Mihaiii

The list of remaining issues AFAIK:

- [ ] Response handlers is not working in SC 2.4 (https://github.com/Starcounter/Home/issues/338)

[2017-12-12 14:40] PatrykSzwer commented on #284
scweaver Starcounter.Authorization.dll
Maybe that could be usable somehow?

I've tried to use that and currently I'm getting an error:
[code]
@per-samuelsson Do You know any, even temporary solution that We could use in this case for Website to be working at SC 2.4? Right now It's our highest priority issue.

[2017-12-12 15:07] PatrykSzwer commented on #284
Seems like updating `Starcounter.Authorization.Library` to version 1.4 fixes this problem. The only (known) problem left is https://github.com/Starcounter/Home/issues/338.

[2017-12-14 13:57] warpech commented on #284
https://github.com/Starcounter/Home/issues/338 is now fixed, so do we have problems with Starcounter 2.4 anymore? If not, @PatrykSzwer can you please make a release for Starcounter 2.3 and 2.4?

[2017-12-14 14:23] Mihaiii opened #295 "Data issues on a clean DB with SC 2.4"
### Steps to reproduce
1. Use SC 2.4.0.4182
1. Delete db : `staradmin delete db --force`
2. Run website app on https://github.com/Starcounter/Website/commit/001ee1e0db12c7e1780afcb70811308565decddb (current latest for `master-2.4`)
3. Run Sign in app on https://github.com/StarcounterApps/SignIn/commit/74ae8817ed1a7e1b46b0f86dba4f0dabb13ec074 (current latest for `master-2.4`)
4. Run Composition Pro

[2017-12-14 15:41] PatrykSzwer commented on #295
Blending rules seems to be not connected with blending points, or at least are not shown in app. Even if we create a new one and refresh page, there will be no blending rules shown. More interesting fact is that after or before calling resetdata, blending points and rules in DB are the same, which is as expected since right after running app with fresh DB, website is basically calling same functio

[2017-12-14 17:57] PatrykSzwer commented on #295
I think I found a problem.
Here's the situation in DB in 2.4.0:
![webmaps 24](https://user-images.githubusercontent.com/25042256/34006975-8049737a-e100-11e7-9b67-8c853fed38b7.PNG)
and here's 2.3.1:
![image](https://user-images.githubusercontent.com/25042256/34006999-90b36126-e100-11e7-9b5c-d2b100c373ad.png)
Seems like `ToWhat` and `Url` are messing.

[2017-12-14 20:35] un-tone commented on #295
@PatrykSzwer what do you mean

It looks like this does not work (`WebSection.cs`):
[code]

[2017-12-15 09:29] PatrykSzwer commented on #295
Nvm, I though there is a difference in DB before and after `resetData` and deleting DB but I can't see any. I'm trying to understand what could make situation that after deleting DB and running website blending rule is not working, but after reseting data It does, even if there is theoretically no difference in behavior in both situations.

[2017-12-15 09:42] PatrykSzwer commented on #295
BTW Am I the only one who's keep getting those errors about BindingInterfaces under 2.4 in VS?
![image](https://user-images.githubusercontent.com/25042256/34036142-93cab362-e184-11e7-8b68-1eb901d3614f.png)

[2017-12-15 10:15] PatrykSzwer commented on #295
I think I've stepped on something that could be a hint for a reason to this.
If You do following steps, It will work at newly created database:
1. Run `websiteprovider` in debug trough VS.
2. Place a breakpoint in line https://github.com/Starcounter/Website/blob/master-2.4/src/WebsiteProvider/Api/BlendingHandlers.cs#L93
3. Run websiteEditor.
4. Breakpoint will hit, first one should be the TopBar S

[2017-12-15 10:40] un-tone commented on #295
I have this too.

[2017-12-15 11:03] un-tone commented on #295
The problem is exactly in

[code]

and that `Section`'s getter is `get { return this.WhatIs as WebSection; }`

For instance, if I use `WhatIs` instead of `Section` it works well:

[code]

[2017-12-15 13:30] un-tone commented on #295
The problem is in Simplified on <https://www.nuget.org/packages/Starcounter.Simplified.Data.Model/>.
You should update it to the last version. The last NuGet package still uses SynonymousTo attribute but should not (https://github.com/StarcounterApps/Simplified/issues/95).

[2017-12-15 13:31] un-tone commented on #295
I've checked it. All works well with last Simplified from `master-2.4` branch

[2017-12-15 14:23] PatrykSzwer commented on #295
I've talked to @habib535 and He released new version of simplified nuget package based on current Simplified master branch. After Nuget will be done with indexing I'll update it and do the last check.

[2017-12-15 15:23] PatrykSzwer commented on #295
I've pushed solution with updated package to v 1.0.3. Everything seems to be working correctly now.

Please have in mind that all other apps that uses `Simplified.Data.Model` package needs to have it updated, otherwise they wont run in same time with Website.

[2017-12-15 15:23] #295 closed

[2017-12-15 15:36] PatrykSzwer commented on #284
Looks like we have all problems fixed and Website is now working correctly with Starcounter 2.4. About releases, WDYT how we should take care of simultaneous releases of Website app for SC 2.3 and 2.4? Should we create 2 separated releases/versions, one for 2.3 and second for 2.4? If yes then how version numbers should go?

[2017-12-15 16:21] warpech commented on #284
I think there should be a single version number tagged in Website repo `master` branch. Make a Warehouse package of that branch for Starcounter 2.3.

Then merge `master` to `master-2.4` and make a Warehouse package of that branch for Starcounter 2.4. Warehouse should accept two different builds of the same app version if the build time is different.

[2017-12-18 13:09] warpech opened #297 "⏰ Upgrade the views to Polymer 2"
Since Polymer 2.0 is coming to Starcounter 2.4, we need to upgrade the views to use Polymer 2.0

[2017-12-20 09:35] PatrykSzwer commented on #284
Website for both `master` and `master-2.4` was released. Closing.

[2017-12-20 09:35] #284 closed

[2017-12-20 09:38] PatrykSzwer opened #298 ""WebSocket connection closed" after clicking tabs in specific order"
### Steps to reproduce
1. Go to `http://localhost:8080/WebsiteEditor`
2. Click two times at tab `Surface groups`
3. Click on `All routes` tab.
### Expected result
No errors
### Actual result
![image](https://user-images.githubusercontent.com/25042256/34200554-d1490f72-e571-11e7-90f3-0d26e88f5d59.png)

##### Starcounter version 2.3.1.8061

cc: @un-tone

[2017-12-26 13:20] alshakero commented on #297
PR in https://github.com/Starcounter/Website/pull/299

[2017-12-29 15:01] warpech opened #301 "Manage the window title"
After https://github.com/Starcounter/RebelsLounge/issues/232 is done, add a new feature to BlendingEditor and BlendingProvider to manage the window title.

On the surface general configuration page, it should be possible to manage the window title by providing a string. The string should allow using few variables:

- `{AppTitle}` - whatever value is resolved by `DisplayAppTitle` for the current se

[2017-12-29 15:06] warpech opened #302 "Manage the favicon"
After https://github.com/Starcounter/RebelsLounge/issues/232 is done, add a new feature to BlendingEditor and BlendingProvider to manage the favicon.

On the surface general configuration page, it should be possible to manage the favicon by providing a URI to it. The media file can be uploaded using Images app.

Requested by @mmnosek in https://github.com/StarcounterFreezer/Launcher/issues/252

[2017-12-29 15:31] warpech opened #303 "Decorating surface blending points"
After https://github.com/Starcounter/RebelsLounge/issues/232

This proposal is intended as a step to make the GUI of BlendingEditor more powerful and the experience configuring the typical blending configurations more "point and click".

For the app responses that are placed in the blending points of a surface, there is commonly a need to do something more than just direct insertion of these respo

[2017-12-29 20:44] warpech commented on #298
@PatrykSzwer please always try to report the visible reason for the error if possible.

 "WebSocket connection closed" is not the reason but the symptom of an exception that happens on the server while applying a patch.

The real reason is `Starcounter.DbException: ScErrTransactionClosed....` and is logged in the full form on the server. The error log is available in Administrator > Logs.

[2017-12-29 20:47] warpech opened #304 ""Website Master-2.4 with Starcounter Develop (2.4)" build fails"
"Website Master-2.4 with Starcounter Develop (2.4)" build fails with an error:

[code]

Example: https://teamcity.starcounter.org/viewLog.html?buildId=41622&buildTypeId=Apps_Website_WebsiteMaster24withStarcounterDevelop24&tab=buildLog

This is strange because the branch `master-2.4` definitely exists.

@joozek78 could you pls take a look on Tuesday?

[2017-12-30 11:42] tomalec commented on #303
Sorry, I'm, afraid I'm not getting the picture :|

Could you describe/elaborate on
1. what you mean by "the content wrapped by WebsiteProvider",
2. What do you mean by "a decorator"? What should it do and with what?,
3. Could you provide a view-model for your example, especially for `model.BlendingDecorations.Top`?
4. What is the "custom decorator" in https://github.com/Starcounter/Website/blob/3f

[2017-12-30 12:59] joozek78 commented on #304
It seems that master-2.4 is just not fetched. We can just add "git fetch
origin master-2.4", but first I'd like to figure out why this worked before
o_O

On Fri, 29 Dec 2017 at 21:47 Marcin Warpechowski <notifications@github.com>
wrote:

[2017-12-30 23:06] warpech commented on #303
I added some clarifications. Please read again.

[2017-12-30 23:21] warpech commented on #303
Added few more clarifications to JSON.

[2017-12-30 23:40] warpech commented on #303
Perhaps for the GUI, it would be better to call it "Behaviors".

[2018-01-02 09:35] mmnosek commented on #301
Doing this on the surface level is a very good idea. The question is, how to deal with application - dependent titles. For instance, following proposed scheme: `{AppTitle} - {SurfaceName}` we can have a page displaying details about some person. A title for such surface would be: `Starcounter Intranet - Person Details`. What if I would like to have a title specifically for the loaded person? Let's

[2018-01-02 14:15] warpech commented on #301
Not quite. A title for such surface would be `People - Starcounter Intranet`, because People is the app and Starcounter Intranet is the surface name.

People app can provide a custom title (different than just the app name) by setting in to the database for the current user session. There is a static method that makes that simpler: `Simplified.Ring6.SessionAppTitle.SetForCurrentSession()`.

If you

[2018-01-02 17:13] joozek78 commented on #304
I've actually changed merge to pull. Works now

[2018-01-02 17:13] #304 closed

[2018-01-02 17:28] tomalec commented on #303
Why not? That's what composition is for.

This one scares me, as it moves us towards the path of Adobe CQ5, and forcing customers through a maze of an enormous configuration of a composition of ready-made specific elements that limits UI flexibility and expression like hell. And building UI using an editor that looks like this: https://helpx.adobe.com/content/dam/help/en/experience-manager/6-3/sit

[2018-01-03 21:16] warpech commented on #234
I support this idea, I was thinking about it for a long time. We will add it in one of the future releases.

[2018-01-03 21:19] warpech opened #307 "Release the final version of this app"
To continue with https://github.com/Starcounter/RebelsLounge/issues/232, we must finish all the current work on WebsiteEditor/WebsiteProvider and release the final version (similarly to how final versions of CompositionEditor, etc, were released).

Required PRs before releasing the final version:

- https://github.com/Starcounter/Website/pull/300
- https://github.com/Starcounter/Website/pull/306

[2018-01-03 22:28] alshakero opened #308 "Remove viewport meta tag creation script from ResponsiveSurface.html"
It's redundant now.

Lines of interest: https://github.com/Starcounter/Website/blob/70ad491f486fc2ad8c2e4c769f6fb65233fb5187/src/WebsiteProvider/wwwroot/WebsiteProvider/surfaces/ResponsiveSurface.html#L35-L42

More on this in this commit https://github.com/Starcounter/level1/commit/61e4eaaaa6607c07389505f77ab34ce1b8ed6849.

[2018-01-03 23:09] warpech commented on #297
Done in https://github.com/Starcounter/Website/pull/306

[2018-01-03 23:09] #297 closed

[2018-01-04 16:03] warpech commented on #298
PRs #309 and #300 went out of scope of the final release of Website. They should be fixed in BlendingProvider.

[2018-01-04 23:25] PatrykSzwer commented on #298
In that case I'll just close this issue, and move it to Blending repository already.

[2018-01-04 23:25] #298 closed

[2018-01-05 11:42] PatrykSzwer commented on #308
This issue is moved to https://github.com/Starcounter/Blending/issues/7

[2018-01-05 11:42] #308 closed

[2018-01-05 12:00] warpech commented on #307
Closing as done

[2018-01-05 12:00] #307 closed

[2018-01-08 10:49] PatrykSzwer commented on #234
Moved to https://github.com/Starcounter/Blending/issues/10

[2018-01-08 10:49] #234 closed

[2018-01-08 10:53] PatrykSzwer commented on #149
Moved to https://github.com/Starcounter/Blending/issues/11

[2018-01-08 10:53] #149 closed

[2018-01-08 10:55] PatrykSzwer commented on #267
Moved to https://github.com/Starcounter/Blending/issues/12

[2018-01-08 10:55] #267 closed

[2018-01-08 10:57] PatrykSzwer commented on #302
Moved to: https://github.com/Starcounter/Blending/issues/13

[2018-01-08 10:57] #302 closed

[2018-01-08 10:59] PatrykSzwer commented on #301
Moved to: https://github.com/Starcounter/Blending/issues/14

[2018-01-08 10:59] #301 closed

[2018-01-08 11:01] PatrykSzwer commented on #303
Moved to https://github.com/Starcounter/Blending/issues/15

[2018-01-08 11:01] #303 closed

[2018-01-08 11:03] PatrykSzwer commented on #286
Moved to: https://github.com/Starcounter/Blending/issues/16

[2018-01-08 11:03] #286 closed

[2018-01-08 11:04] PatrykSzwer commented on #259
This was done in #291.  Closing.

[2018-01-08 11:04] #259 closed

[2018-01-08 11:06] PatrykSzwer commented on #195
Moved to: https://github.com/Starcounter/Blending/issues/17

[2018-01-08 11:06] #195 closed

[2018-01-10 17:01] warpech commented on #280
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.1.0

[2018-01-10 17:01] warpech commented on #279
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.1.0

[2018-01-10 17:15] warpech commented on #297
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.2.0

[2018-01-10 17:15] warpech commented on #307
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.2.0

[2018-01-10 17:17] warpech commented on #259
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.1.0

[2018-01-10 17:19] warpech commented on #284
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.1.0

[2018-01-10 17:20] warpech commented on #188
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.1.0

[2018-01-10 17:20] warpech commented on #258
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.1.0

[2018-01-10 17:20] warpech commented on #278
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.1.0

[2018-01-10 17:21] warpech commented on #200
Setting as “Finished” because it is:
- released (with release notes) https://github.com/Starcounter/Website/releases/tag/4.0.0

[2018-01-30 12:00] joozek78 opened #313 "Doesn't build under latest 2.4 - retarget to .NET 4.6.1"
### Steps to reproduce
1. Build using Starcounter `2.4.0.4692`

### Error
New Starcounter targets .NET Framework 4.6.1. It can't be used as a dependency for website which targets 4.5
```warning MSB3274: The primary reference "Starcounter, Version=2.0.0.0, Culture=neutral, PublicKeyToken=d2df1e81d0ca3abf" could not be resolved because it was built against the ".NETFramework,Version=v4.6.1" framewor

[2018-02-07 09:34] warpech commented on #313
@kegor could you pls do that on a feature branch from `master-2.4`?

[2018-02-08 10:47] kegor commented on #313
Changes where merged into `master-2.4` in #314.
Can this issue be closed?

[2018-02-08 11:41] warpech commented on #313
I think yes, thanks!

[2018-02-08 11:41] #313 closed